<header class="page-header">
	<div class="page-header-inner">
		<a href="#" target="_blank" class="btn-lg">LG 전자</a>
		<a href="#" target="_blank" class="btn-styler">LG TROMM styler</a>

		<nav class="menus">
			<ul>
				<li><a href="event01.html" class="btn-event01 @@if ( menu == 'event01' ) {is-selected}">EVENT 1. LG 트롬 스타일러, 스.친.소 이벤트</a></li>
				<li><a href="event02.html" class="btn-event02 @@if ( menu == 'event02' ) {is-selected}">EVENT 2. 검색하고 최고의 기능에 투표하라!</a></li>
			</ul>
		</nav>
	</div>
</header>
