/* CONTENTS */
article.event02 { padding-top: 80px;

	.event02-detail {
		> .title { position: relative; z-index: z("default"); padding-top: 43px; height: 817px; min-width: $contents-min-width; background: url('/assets/images/bg_detail_02.jpg') center top no-repeat;
			.title-inner { position: relative; margin: 0 auto; height: 658px; width: 900px;	 background: url('/assets/images/event02_contents.png') center top no-repeat;
				* { display: none; }
			}
			h1 { display: none; }
		
			.btn-naver { display: block; margin: 20px auto 0 auto; text-indent: -9999px; @include sprite($sd-btn-naver); }
			.btn-product { display: block; position: absolute; bottom: 26px; left: 190px; text-indent: -9999px; @include sprite($sd-btn-product); }
		}

		.styler-feature { height: 540px; background: url('/assets/images/bg_fetured.jpg') center top no-repeat;
			.styler-feature-inner { margin: 0 auto; height: 540px; width: 1200px; background: url('/assets/images/event02_feature.png') center top no-repeat;
				h2 { display: none; }
				.list-feature { overflow: hidden; padding-top: 41px; padding-left: 10px;
					> li { display: block; float: left; width: 370px;
						a { display: block; height: 500px;
							* { display: none; }
						}
						+ li { margin-left: 35px; }
					}
				}
			}
		}
	}


	.gift { height: 190px; background-color: #dedede;
		.gift-inner { position: relative; top: -25px; height: 215px; min-width: $contents-min-width; background: url('/assets/images/bg_gift_02.png') center top no-repeat;
			* { display: none; }
		}
	}

	.notice { background-color: #f1f1f1;
		.notice-inner { height: 370px; min-width: $contents-min-width; background: url('/assets/images/bg_notice_02.png') center 52px no-repeat;
			* { display: none; }
		}
	}
}

.popup { margin: 0 auto; height: 914px; width: 668px;
	.mfp-close { display: block; position: absolute; top: 5px; left: 50%; margin-left: 323px; text-indent: -9999px; @include sprite($sd-btn-close); }

	.contents { position: relative; height: 100%; width: 100%;
		* { display: none; }
		.btn-application { display: block; position: absolute; bottom: 51px; left: 50%; margin-left: -$sd-btn-application-width/2; text-indent: -9999px; @include sprite($sd-btn-application); }
	}

	&.feature01 {
		.contents { background: url('/assets/images/popup01.png') center top no-repeat; }
	}

	&.feature02 {
		.contents { background: url('/assets/images/popup02.png') center top no-repeat; }
	}

	&.feature03 {
		.contents { background: url('/assets/images/popup03.png') center top no-repeat; }
	}
}
