/* CONTENTS */
article.event02 { padding-top: 80px;

	.event02-detail {
		> .title { position: relative; z-index: z("default"); padding-top: 48px; height: 813px; min-width: $contents-min-width; background: url('/assets/images/bg_detail_02.jpg') center top no-repeat;
			.title-inner { position: relative; margin: 0 auto; height: 253px; width: 714px;	 background: url('/assets/images/event02_contents.png') center top no-repeat;
				* { display: none; }
			}
			h1 { display: none; }
		
			.btn-naver { display: block; margin: 420px auto 0 auto; text-indent: -9999px; @include sprite($sd-btn-naver); }
			.btn-product { display: block; position: absolute; bottom: 26px; left: 250px; text-indent: -9999px; @include sprite($sd-btn-product); }
		}

		.styler-feature { position: relative; height: 639px; background: url('/assets/images/bg_fetured.jpg') center top no-repeat;
			.styler-feature-inner { margin: 0 auto; height: 577px; width: 1040px; background: url('/assets/images/event02_feature.png') center top no-repeat;
				h2 { display: none; }
				.list-feature { overflow: hidden; padding-top: 104px; padding-left: 23px;
					> li { display: block; float: left; width: 304px;
						a { display: block; height: 430px;
							* { display: none; }
						}
						+ li { margin-left: 41px; }
					}
				}
			}

			.banner { position: absolute; top: 19px; left: 50%; z-index: z("gnb") - 1; margin-left: -670px;
				.btn-close { display: block; position: absolute; top: 0; right: 0; text-indent: -9999px; @include sprite($sd-btn-close02); }
				.btns { display: block; text-indent: -9999px; @include sprite($sd-btn-shortcut-event01); }

				&.fixed { position: fixed; top: 80px; }
			}
		}
	}


	.gift { height: 190px; background-color: #ddd;
		.gift-inner { position: relative; top: -25px; height: 215px; min-width: $contents-min-width; background: url('/assets/images/bg_gift_02.jpg') center top no-repeat;
			* { display: none; }
		}
	}

	.notice { background-color: #f1f1f1;
		.notice-inner { height: 370px; min-width: $contents-min-width; background: url('/assets/images/bg_notice_02.png') center 52px no-repeat;
			* { display: none; }
		}
	}
}

.popup { margin: 0 auto; height: 914px; width: 668px;
	.mfp-close { display: block; position: absolute; top: 5px; left: 50%; margin-left: 323px; text-indent: -9999px; @include sprite($sd-btn-close); }

	.contents { position: relative; height: 100%; width: 100%;
		* { display: none; }
		.btn-application { display: block; position: absolute; bottom: 51px; left: 50%; margin-left: -$sd-btn-application-width/2; text-indent: -9999px; @include sprite($sd-btn-application); }
	}

	&.feature01 {
		.contents { background: url('/assets/images/popup01.png') center top no-repeat; }
	}

	&.feature02 {
		.contents { background: url('/assets/images/popup02.png') center top no-repeat; }
	}

	&.feature03 {
		.contents { background: url('/assets/images/popup03.png') center top no-repeat; }
	}
}


/* 응모팝업 */
.popup-application { position: relative; margin: 0 auto; padding: 0; height: 773px; width: 668px; background: url('/assets/images/bg_application.png') center top no-repeat;
	> .title { display: block; margin: 0 11px 0 7px; padding: 35px 0 30px 0; border-bottom: 2px solid #de284f;
		span { display: block; margin: 0 auto; text-indent: -9999px; @include sprite($sd-title-application); }
	}

	.container { padding: 0 61px 62px 57px; }

	/* 기본 정보 */
	.basic-info { padding: 30px 0 30px 0; color: #bdc3c5; border-bottom: 1px dashed #b7b7b7;
		label { display: inline-block; margin-right: 5px; text-indent: -9999px; vertical-align: middle;
			&.txt-name { @include sprite($sd-txt-name); }
			&.txt-phone { margin-left: 50px; @include sprite($sd-txt-phone); }
		}
		
		input[type=text] { height: 34px; width: 73px; font-size: 14px; color: #333; line-height: 34px; vertical-align: middle; text-align: center; border: 1px solid #999; background-color: #f8f8f8; }
	}

	/* 동의 항목 */
	.agreements { margin-top: 18px;
		+ .agreements { margin-top: 0px; padding-top: 30px; }

		.txt-agreement01 { display: block; text-indent: -9999px; @include sprite($sd-txt-agreement01); }
		.txt-agreement02 { display: block; text-indent: -9999px; @include sprite($sd-txt-agreement02); }

		.list-agreement { margin-top: 5px; padding: 14px 0 14px 26px; background-color: #f0f0f0;
			> li { font-size: 12px; color: #666; line-height: 24px;
				em {
					&:before { content: '·'; margin-right: 2px; }
				}
			}
		}
		.message { margin-top: 10px; font-size: 12px; color: #999; }

		.radios { margin-top: 12px; text-align: right; }

		.iradio { display: inline-block;
			+ label { display: inline-block; margin: 0 15px; text-indent: -9999px; cursor: pointer; text-align: left;
				&.agreement-yes { @include sprite($sd-radio-agreement01); }
				&.agreement-no { @include sprite($sd-radio-agreement02); }
			}

			&.checked {
				+ .agreement-yes { @include sprite($sd-radio-agreement01-selected); }
				+ .agreement-no { @include sprite($sd-radio-agreement02-selected); }
			}
		}
	}

	.btn-done { display: block; margin: 40px auto 0 auto; text-indent: -9999px; @include sprite($sd-btn-done); background-color: transparent; }
	.mfp-close { display: block; position: absolute; top: 5px; left: 50%; margin-left: 323px; text-indent: -9999px; @include sprite($sd-btn-close); }
}