/* CONTENTS */
article.event01 { padding-top: 80px;

	> .title { position: relative; z-index: z("default"); padding-top: 213px; min-width: $contents-min-width; background: url('/assets/images/bg_video.jpg') center top no-repeat;
		.title-inner { position: relative; margin: 0 auto; height: 487px; width: $contents-min-width; }
		h1 { display: none; }

		.video-container { margin: 0 auto; height: 441px; width: 757px; }
		.caption { display: none; overflow: scroll; margin: 2px auto; padding: 15px 20px; height: 83px; width: 722px; font-size: 13px; color: #333; line-height: 18px; border: 1px solid #fff; background-color: #e2e2e2; }
		.btn-caption { display: block; position: absolute; bottom: 15px; left: 441px; text-indent: -9999px; @include sprite($sd-btn-caption);
			&.open { bottom: -96px; @include sprite($sd-btn-caption-open);
				+ .caption { display: block; }
			}
		}
	}


	.event-detail { min-width: $contents-min-width; background: url('/assets/images/bg_detail.jpg') center top no-repeat;
		.event-detail-inner { position: relative; margin: 0 auto; padding-top: 62px; height: 1076px; width: $contents-min-width; }
		.event-detail-contents { display: block; margin: 0 auto; height: 872px; width: 1090px; background: url('/assets/images/event01_contents.png') center top no-repeat;
			* { display: none; }
		}
		.btn-reply { display: block; margin: 0 auto; text-indent: -9999px; @include sprite($sd-btn-reply); }
		.btn-product { display: block; position: absolute; bottom: 145px; right: 130px; text-indent: -9999px; @include sprite($sd-btn-product); }
	}

	.gift { height: 190px; background-color: #dedede;
		.gift-inner { position: relative; top: -25px; height: 215px; min-width: $contents-min-width; background: url('/assets/images/bg_gift.png') center top no-repeat;
			* { display: none; }
		}
	}

	.notice { background-color: #f1f1f1;
		.notice-inner { height: 370px; min-width: $contents-min-width; background: url('/assets/images/bg_notice.png') center 52px no-repeat;
			* { display: none; }
		}
	}

}
