/* CONTENTS */
article.event02 { padding-top: 113px;

	.event02-detail {
		> .title { position: relative; height: 545px; width: 375px; background: url('/assets/images/mobile/event02_contents@2x.jpg') center top no-repeat; background-size: 100%;
			.title-inner { display: none; }
		}

		.btn-naver { display: block; position: absolute; bottom: 37px; left: 50%; margin-left: -$sm-btn-naver-width/2; text-indent: -9999px; @include retina-sprite($sm-btn-naver-group); }

		.styler-feature { position: relative; height: 425px; width: 375px; background: url('/assets/images/mobile/bg_feature@2x.jpg') center top no-repeat; background-size: 100%;
			.styler-feature-inner {
				h2 { display: none; }

				.list-feature { padding: 33px 15px 0 130px;
					> li {
						a { display: block; height: 118px; width: 100%; 
							* { display: none; }
						}

						+ li { margin-top: 4px; }
					}
				}
			}

			.btn-product { display: block; position: absolute; bottom: 50px; left: 25px; text-indent: -9999px; @include retina-sprite($sm-btn-product-group); }
		}
	}


	.gift { background-color: #dbdbdb;
		.gift-inner { height: 160px; background: url('/assets/images/mobile/bg_gift_02@2x.png') center bottom no-repeat; background-size: 345px 160px;
			* { display: none; }
		}
	}

	.notice { padding: 21px 0 19px 0px; background-color: #f1f1f1;
		.notice-inner { margin: 0 auto; height: 286px; width: 321px; min-width: $contents-min-width; background: url('/assets/images/mobile/bg_notice_02@2x.png') center top no-repeat; background-size: 100%;
			* { display: none; }
		}
	}
}


.popup { margin: 0 auto; height: 492px; width: 334px;
	.mfp-close { display: block; position: absolute; top: -30px; left: 50%; margin-left: 140px; text-indent: -9999px; @include retina-sprite($sm-btn-close-group); }

	.contents { position: relative; height: 100%; width: 100%;
		* { display: none; }
		.btn-application { display: block; position: absolute; bottom: 28px; left: 50%; margin-left: -$sm-btn-application-width/2; text-indent: -9999px; @include retina-sprite($sm-btn-application-group); }
	}

	&.feature01 {
		.contents { background: url('/assets/images/mobile/popup01@2x.png') center top no-repeat; background-size: 100%; }
	}

	&.feature02 {
		.contents { background: url('/assets/images/mobile/popup02@2x.png') center top no-repeat; background-size: 100%; }
	}

	&.feature03 {
		.contents { background: url('/assets/images/mobile/popup03@2x.png') center top no-repeat; background-size: 100%; }
	}
}
