/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sm-btn-application-name: 'sm-btn_application';
$sm-btn-application-x: 0px;
$sm-btn-application-y: 149px;
$sm-btn-application-offset-x: 0px;
$sm-btn-application-offset-y: -149px;
$sm-btn-application-width: 95px;
$sm-btn-application-height: 33px;
$sm-btn-application-total-width: 505px;
$sm-btn-application-total-height: 234px;
$sm-btn-application-image: '/assets/images/mobile/sprites_mobile.png';
$sm-btn-application: (0px, 149px, 0px, -149px, 95px, 33px, 505px, 234px, '/assets/images/mobile/sprites_mobile.png', 'sm-btn_application', );
$sm-btn-close-name: 'sm-btn_close';
$sm-btn-close-x: 179px;
$sm-btn-close-y: 58px;
$sm-btn-close-offset-x: -179px;
$sm-btn-close-offset-y: -58px;
$sm-btn-close-width: 30px;
$sm-btn-close-height: 30px;
$sm-btn-close-total-width: 505px;
$sm-btn-close-total-height: 234px;
$sm-btn-close-image: '/assets/images/mobile/sprites_mobile.png';
$sm-btn-close: (179px, 58px, -179px, -58px, 30px, 30px, 505px, 234px, '/assets/images/mobile/sprites_mobile.png', 'sm-btn_close', );
$sm-btn-done-name: 'sm-btn_done';
$sm-btn-done-x: 101px;
$sm-btn-done-y: 149px;
$sm-btn-done-offset-x: -101px;
$sm-btn-done-offset-y: -149px;
$sm-btn-done-width: 95px;
$sm-btn-done-height: 33px;
$sm-btn-done-total-width: 505px;
$sm-btn-done-total-height: 234px;
$sm-btn-done-image: '/assets/images/mobile/sprites_mobile.png';
$sm-btn-done: (101px, 149px, -101px, -149px, 95px, 33px, 505px, 234px, '/assets/images/mobile/sprites_mobile.png', 'sm-btn_done', );
$sm-btn-event01-name: 'sm-btn_event01';
$sm-btn-event01-x: 219px;
$sm-btn-event01-y: 19px;
$sm-btn-event01-offset-x: -219px;
$sm-btn-event01-offset-y: -19px;
$sm-btn-event01-width: 162px;
$sm-btn-event01-height: 27px;
$sm-btn-event01-total-width: 505px;
$sm-btn-event01-total-height: 234px;
$sm-btn-event01-image: '/assets/images/mobile/sprites_mobile.png';
$sm-btn-event01: (219px, 19px, -219px, -19px, 162px, 27px, 505px, 234px, '/assets/images/mobile/sprites_mobile.png', 'sm-btn_event01', );
$sm-btn-event01-selected-name: 'sm-btn_event01_selected';
$sm-btn-event01-selected-x: 219px;
$sm-btn-event01-selected-y: 52px;
$sm-btn-event01-selected-offset-x: -219px;
$sm-btn-event01-selected-offset-y: -52px;
$sm-btn-event01-selected-width: 162px;
$sm-btn-event01-selected-height: 27px;
$sm-btn-event01-selected-total-width: 505px;
$sm-btn-event01-selected-total-height: 234px;
$sm-btn-event01-selected-image: '/assets/images/mobile/sprites_mobile.png';
$sm-btn-event01-selected: (219px, 52px, -219px, -52px, 162px, 27px, 505px, 234px, '/assets/images/mobile/sprites_mobile.png', 'sm-btn_event01_selected', );
$sm-btn-event02-name: 'sm-btn_event02';
$sm-btn-event02-x: 0px;
$sm-btn-event02-y: 116px;
$sm-btn-event02-offset-x: 0px;
$sm-btn-event02-offset-y: -116px;
$sm-btn-event02-width: 162px;
$sm-btn-event02-height: 27px;
$sm-btn-event02-total-width: 505px;
$sm-btn-event02-total-height: 234px;
$sm-btn-event02-image: '/assets/images/mobile/sprites_mobile.png';
$sm-btn-event02: (0px, 116px, 0px, -116px, 162px, 27px, 505px, 234px, '/assets/images/mobile/sprites_mobile.png', 'sm-btn_event02', );
$sm-btn-event02-selected-name: 'sm-btn_event02_selected';
$sm-btn-event02-selected-x: 168px;
$sm-btn-event02-selected-y: 116px;
$sm-btn-event02-selected-offset-x: -168px;
$sm-btn-event02-selected-offset-y: -116px;
$sm-btn-event02-selected-width: 162px;
$sm-btn-event02-selected-height: 27px;
$sm-btn-event02-selected-total-width: 505px;
$sm-btn-event02-selected-total-height: 234px;
$sm-btn-event02-selected-image: '/assets/images/mobile/sprites_mobile.png';
$sm-btn-event02-selected: (168px, 116px, -168px, -116px, 162px, 27px, 505px, 234px, '/assets/images/mobile/sprites_mobile.png', 'sm-btn_event02_selected', );
$sm-btn-lg-name: 'sm-btn_lg';
$sm-btn-lg-x: 387px;
$sm-btn-lg-y: 19px;
$sm-btn-lg-offset-x: -387px;
$sm-btn-lg-offset-y: -19px;
$sm-btn-lg-width: 81px;
$sm-btn-lg-height: 22px;
$sm-btn-lg-total-width: 505px;
$sm-btn-lg-total-height: 234px;
$sm-btn-lg-image: '/assets/images/mobile/sprites_mobile.png';
$sm-btn-lg: (387px, 19px, -387px, -19px, 81px, 22px, 505px, 234px, '/assets/images/mobile/sprites_mobile.png', 'sm-btn_lg', );
$sm-btn-naver-name: 'sm-btn_naver';
$sm-btn-naver-x: 0px;
$sm-btn-naver-y: 58px;
$sm-btn-naver-offset-x: 0px;
$sm-btn-naver-offset-y: -58px;
$sm-btn-naver-width: 173px;
$sm-btn-naver-height: 52px;
$sm-btn-naver-total-width: 505px;
$sm-btn-naver-total-height: 234px;
$sm-btn-naver-image: '/assets/images/mobile/sprites_mobile.png';
$sm-btn-naver: (0px, 58px, 0px, -58px, 173px, 52px, 505px, 234px, '/assets/images/mobile/sprites_mobile.png', 'sm-btn_naver', );
$sm-btn-product-name: 'sm-btn_product';
$sm-btn-product-x: 387px;
$sm-btn-product-y: 52px;
$sm-btn-product-offset-x: -387px;
$sm-btn-product-offset-y: -52px;
$sm-btn-product-width: 78px;
$sm-btn-product-height: 18px;
$sm-btn-product-total-width: 505px;
$sm-btn-product-total-height: 234px;
$sm-btn-product-image: '/assets/images/mobile/sprites_mobile.png';
$sm-btn-product: (387px, 52px, -387px, -52px, 78px, 18px, 505px, 234px, '/assets/images/mobile/sprites_mobile.png', 'sm-btn_product', );
$sm-btn-reply-name: 'sm-btn_reply';
$sm-btn-reply-x: 0px;
$sm-btn-reply-y: 0px;
$sm-btn-reply-offset-x: 0px;
$sm-btn-reply-offset-y: 0px;
$sm-btn-reply-width: 213px;
$sm-btn-reply-height: 52px;
$sm-btn-reply-total-width: 505px;
$sm-btn-reply-total-height: 234px;
$sm-btn-reply-image: '/assets/images/mobile/sprites_mobile.png';
$sm-btn-reply: (0px, 0px, 0px, 0px, 213px, 52px, 505px, 234px, '/assets/images/mobile/sprites_mobile.png', 'sm-btn_reply', );
$sm-btn-styler-name: 'sm-btn_styler';
$sm-btn-styler-x: 336px;
$sm-btn-styler-y: 116px;
$sm-btn-styler-offset-x: -336px;
$sm-btn-styler-offset-y: -116px;
$sm-btn-styler-width: 138px;
$sm-btn-styler-height: 20px;
$sm-btn-styler-total-width: 505px;
$sm-btn-styler-total-height: 234px;
$sm-btn-styler-image: '/assets/images/mobile/sprites_mobile.png';
$sm-btn-styler: (336px, 116px, -336px, -116px, 138px, 20px, 505px, 234px, '/assets/images/mobile/sprites_mobile.png', 'sm-btn_styler', );
$sm-icon-selected01-name: 'sm-icon_selected01';
$sm-icon-selected01-x: 474px;
$sm-icon-selected01-y: 19px;
$sm-icon-selected01-offset-x: -474px;
$sm-icon-selected01-offset-y: -19px;
$sm-icon-selected01-width: 31px;
$sm-icon-selected01-height: 16px;
$sm-icon-selected01-total-width: 505px;
$sm-icon-selected01-total-height: 234px;
$sm-icon-selected01-image: '/assets/images/mobile/sprites_mobile.png';
$sm-icon-selected01: (474px, 19px, -474px, -19px, 31px, 16px, 505px, 234px, '/assets/images/mobile/sprites_mobile.png', 'sm-icon_selected01', );
$sm-radio-agreement01-name: 'sm-radio_agreement01';
$sm-radio-agreement01-x: 398px;
$sm-radio-agreement01-y: 149px;
$sm-radio-agreement01-offset-x: -398px;
$sm-radio-agreement01-offset-y: -149px;
$sm-radio-agreement01-width: 52px;
$sm-radio-agreement01-height: 17px;
$sm-radio-agreement01-total-width: 505px;
$sm-radio-agreement01-total-height: 234px;
$sm-radio-agreement01-image: '/assets/images/mobile/sprites_mobile.png';
$sm-radio-agreement01: (398px, 149px, -398px, -149px, 52px, 17px, 505px, 234px, '/assets/images/mobile/sprites_mobile.png', 'sm-radio_agreement01', );
$sm-radio-agreement01-selected-name: 'sm-radio_agreement01_selected';
$sm-radio-agreement01-selected-x: 0px;
$sm-radio-agreement01-selected-y: 188px;
$sm-radio-agreement01-selected-offset-x: 0px;
$sm-radio-agreement01-selected-offset-y: -188px;
$sm-radio-agreement01-selected-width: 52px;
$sm-radio-agreement01-selected-height: 17px;
$sm-radio-agreement01-selected-total-width: 505px;
$sm-radio-agreement01-selected-total-height: 234px;
$sm-radio-agreement01-selected-image: '/assets/images/mobile/sprites_mobile.png';
$sm-radio-agreement01-selected: (0px, 188px, 0px, -188px, 52px, 17px, 505px, 234px, '/assets/images/mobile/sprites_mobile.png', 'sm-radio_agreement01_selected', );
$sm-radio-agreement02-name: 'sm-radio_agreement02';
$sm-radio-agreement02-x: 331px;
$sm-radio-agreement02-y: 149px;
$sm-radio-agreement02-offset-x: -331px;
$sm-radio-agreement02-offset-y: -149px;
$sm-radio-agreement02-width: 61px;
$sm-radio-agreement02-height: 17px;
$sm-radio-agreement02-total-width: 505px;
$sm-radio-agreement02-total-height: 234px;
$sm-radio-agreement02-image: '/assets/images/mobile/sprites_mobile.png';
$sm-radio-agreement02: (331px, 149px, -331px, -149px, 61px, 17px, 505px, 234px, '/assets/images/mobile/sprites_mobile.png', 'sm-radio_agreement02', );
$sm-radio-agreement02-selected-name: 'sm-radio_agreement02_selected';
$sm-radio-agreement02-selected-x: 404px;
$sm-radio-agreement02-selected-y: 85px;
$sm-radio-agreement02-selected-offset-x: -404px;
$sm-radio-agreement02-selected-offset-y: -85px;
$sm-radio-agreement02-selected-width: 61px;
$sm-radio-agreement02-selected-height: 17px;
$sm-radio-agreement02-selected-total-width: 505px;
$sm-radio-agreement02-selected-total-height: 234px;
$sm-radio-agreement02-selected-image: '/assets/images/mobile/sprites_mobile.png';
$sm-radio-agreement02-selected: (404px, 85px, -404px, -85px, 61px, 17px, 505px, 234px, '/assets/images/mobile/sprites_mobile.png', 'sm-radio_agreement02_selected', );
$sm-title-application-name: 'sm-title_application';
$sm-title-application-x: 219px;
$sm-title-application-y: 0px;
$sm-title-application-offset-x: -219px;
$sm-title-application-offset-y: 0px;
$sm-title-application-width: 286px;
$sm-title-application-height: 13px;
$sm-title-application-total-width: 505px;
$sm-title-application-total-height: 234px;
$sm-title-application-image: '/assets/images/mobile/sprites_mobile.png';
$sm-title-application: (219px, 0px, -219px, 0px, 286px, 13px, 505px, 234px, '/assets/images/mobile/sprites_mobile.png', 'sm-title_application', );
$sm-txt-agreement01-name: 'sm-txt_agreement01';
$sm-txt-agreement01-x: 219px;
$sm-txt-agreement01-y: 85px;
$sm-txt-agreement01-offset-x: -219px;
$sm-txt-agreement01-offset-y: -85px;
$sm-txt-agreement01-width: 179px;
$sm-txt-agreement01-height: 22px;
$sm-txt-agreement01-total-width: 505px;
$sm-txt-agreement01-total-height: 234px;
$sm-txt-agreement01-image: '/assets/images/mobile/sprites_mobile.png';
$sm-txt-agreement01: (219px, 85px, -219px, -85px, 179px, 22px, 505px, 234px, '/assets/images/mobile/sprites_mobile.png', 'sm-txt_agreement01', );
$sm-txt-agreement02-name: 'sm-txt_agreement02';
$sm-txt-agreement02-x: 202px;
$sm-txt-agreement02-y: 149px;
$sm-txt-agreement02-offset-x: -202px;
$sm-txt-agreement02-offset-y: -149px;
$sm-txt-agreement02-width: 123px;
$sm-txt-agreement02-height: 22px;
$sm-txt-agreement02-total-width: 505px;
$sm-txt-agreement02-total-height: 234px;
$sm-txt-agreement02-image: '/assets/images/mobile/sprites_mobile.png';
$sm-txt-agreement02: (202px, 149px, -202px, -149px, 123px, 22px, 505px, 234px, '/assets/images/mobile/sprites_mobile.png', 'sm-txt_agreement02', );
$sm-txt-name-name: 'sm-txt_name';
$sm-txt-name-x: 33px;
$sm-txt-name-y: 211px;
$sm-txt-name-offset-x: -33px;
$sm-txt-name-offset-y: -211px;
$sm-txt-name-width: 19px;
$sm-txt-name-height: 23px;
$sm-txt-name-total-width: 505px;
$sm-txt-name-total-height: 234px;
$sm-txt-name-image: '/assets/images/mobile/sprites_mobile.png';
$sm-txt-name: (33px, 211px, -33px, -211px, 19px, 23px, 505px, 234px, '/assets/images/mobile/sprites_mobile.png', 'sm-txt_name', );
$sm-txt-phone-name: 'sm-txt_phone';
$sm-txt-phone-x: 0px;
$sm-txt-phone-y: 211px;
$sm-txt-phone-offset-x: 0px;
$sm-txt-phone-offset-y: -211px;
$sm-txt-phone-width: 27px;
$sm-txt-phone-height: 23px;
$sm-txt-phone-total-width: 505px;
$sm-txt-phone-total-height: 234px;
$sm-txt-phone-image: '/assets/images/mobile/sprites_mobile.png';
$sm-txt-phone: (0px, 211px, 0px, -211px, 27px, 23px, 505px, 234px, '/assets/images/mobile/sprites_mobile.png', 'sm-txt_phone', );
$sm-btn-application-2x-name: 'sm-btn_application@2x';
$sm-btn-application-2x-x: 0px;
$sm-btn-application-2x-y: 298px;
$sm-btn-application-2x-offset-x: 0px;
$sm-btn-application-2x-offset-y: -298px;
$sm-btn-application-2x-width: 190px;
$sm-btn-application-2x-height: 66px;
$sm-btn-application-2x-total-width: 1010px;
$sm-btn-application-2x-total-height: 468px;
$sm-btn-application-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-btn-application-2x: (0px, 298px, 0px, -298px, 190px, 66px, 1010px, 468px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-btn_application@2x', );
$sm-btn-close-2x-name: 'sm-btn_close@2x';
$sm-btn-close-2x-x: 358px;
$sm-btn-close-2x-y: 116px;
$sm-btn-close-2x-offset-x: -358px;
$sm-btn-close-2x-offset-y: -116px;
$sm-btn-close-2x-width: 60px;
$sm-btn-close-2x-height: 60px;
$sm-btn-close-2x-total-width: 1010px;
$sm-btn-close-2x-total-height: 468px;
$sm-btn-close-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-btn-close-2x: (358px, 116px, -358px, -116px, 60px, 60px, 1010px, 468px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-btn_close@2x', );
$sm-btn-done-2x-name: 'sm-btn_done@2x';
$sm-btn-done-2x-x: 202px;
$sm-btn-done-2x-y: 298px;
$sm-btn-done-2x-offset-x: -202px;
$sm-btn-done-2x-offset-y: -298px;
$sm-btn-done-2x-width: 190px;
$sm-btn-done-2x-height: 66px;
$sm-btn-done-2x-total-width: 1010px;
$sm-btn-done-2x-total-height: 468px;
$sm-btn-done-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-btn-done-2x: (202px, 298px, -202px, -298px, 190px, 66px, 1010px, 468px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-btn_done@2x', );
$sm-btn-event01-2x-name: 'sm-btn_event01@2x';
$sm-btn-event01-2x-x: 438px;
$sm-btn-event01-2x-y: 38px;
$sm-btn-event01-2x-offset-x: -438px;
$sm-btn-event01-2x-offset-y: -38px;
$sm-btn-event01-2x-width: 324px;
$sm-btn-event01-2x-height: 54px;
$sm-btn-event01-2x-total-width: 1010px;
$sm-btn-event01-2x-total-height: 468px;
$sm-btn-event01-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-btn-event01-2x: (438px, 38px, -438px, -38px, 324px, 54px, 1010px, 468px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-btn_event01@2x', );
$sm-btn-event01-selected-2x-name: 'sm-btn_event01_selected@2x';
$sm-btn-event01-selected-2x-x: 438px;
$sm-btn-event01-selected-2x-y: 104px;
$sm-btn-event01-selected-2x-offset-x: -438px;
$sm-btn-event01-selected-2x-offset-y: -104px;
$sm-btn-event01-selected-2x-width: 324px;
$sm-btn-event01-selected-2x-height: 54px;
$sm-btn-event01-selected-2x-total-width: 1010px;
$sm-btn-event01-selected-2x-total-height: 468px;
$sm-btn-event01-selected-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-btn-event01-selected-2x: (438px, 104px, -438px, -104px, 324px, 54px, 1010px, 468px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-btn_event01_selected@2x', );
$sm-btn-event02-2x-name: 'sm-btn_event02@2x';
$sm-btn-event02-2x-x: 0px;
$sm-btn-event02-2x-y: 232px;
$sm-btn-event02-2x-offset-x: 0px;
$sm-btn-event02-2x-offset-y: -232px;
$sm-btn-event02-2x-width: 324px;
$sm-btn-event02-2x-height: 54px;
$sm-btn-event02-2x-total-width: 1010px;
$sm-btn-event02-2x-total-height: 468px;
$sm-btn-event02-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-btn-event02-2x: (0px, 232px, 0px, -232px, 324px, 54px, 1010px, 468px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-btn_event02@2x', );
$sm-btn-event02-selected-2x-name: 'sm-btn_event02_selected@2x';
$sm-btn-event02-selected-2x-x: 336px;
$sm-btn-event02-selected-2x-y: 232px;
$sm-btn-event02-selected-2x-offset-x: -336px;
$sm-btn-event02-selected-2x-offset-y: -232px;
$sm-btn-event02-selected-2x-width: 324px;
$sm-btn-event02-selected-2x-height: 54px;
$sm-btn-event02-selected-2x-total-width: 1010px;
$sm-btn-event02-selected-2x-total-height: 468px;
$sm-btn-event02-selected-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-btn-event02-selected-2x: (336px, 232px, -336px, -232px, 324px, 54px, 1010px, 468px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-btn_event02_selected@2x', );
$sm-btn-lg-2x-name: 'sm-btn_lg@2x';
$sm-btn-lg-2x-x: 774px;
$sm-btn-lg-2x-y: 38px;
$sm-btn-lg-2x-offset-x: -774px;
$sm-btn-lg-2x-offset-y: -38px;
$sm-btn-lg-2x-width: 162px;
$sm-btn-lg-2x-height: 44px;
$sm-btn-lg-2x-total-width: 1010px;
$sm-btn-lg-2x-total-height: 468px;
$sm-btn-lg-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-btn-lg-2x: (774px, 38px, -774px, -38px, 162px, 44px, 1010px, 468px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-btn_lg@2x', );
$sm-btn-naver-2x-name: 'sm-btn_naver@2x';
$sm-btn-naver-2x-x: 0px;
$sm-btn-naver-2x-y: 116px;
$sm-btn-naver-2x-offset-x: 0px;
$sm-btn-naver-2x-offset-y: -116px;
$sm-btn-naver-2x-width: 346px;
$sm-btn-naver-2x-height: 104px;
$sm-btn-naver-2x-total-width: 1010px;
$sm-btn-naver-2x-total-height: 468px;
$sm-btn-naver-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-btn-naver-2x: (0px, 116px, 0px, -116px, 346px, 104px, 1010px, 468px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-btn_naver@2x', );
$sm-btn-product-2x-name: 'sm-btn_product@2x';
$sm-btn-product-2x-x: 774px;
$sm-btn-product-2x-y: 104px;
$sm-btn-product-2x-offset-x: -774px;
$sm-btn-product-2x-offset-y: -104px;
$sm-btn-product-2x-width: 156px;
$sm-btn-product-2x-height: 36px;
$sm-btn-product-2x-total-width: 1010px;
$sm-btn-product-2x-total-height: 468px;
$sm-btn-product-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-btn-product-2x: (774px, 104px, -774px, -104px, 156px, 36px, 1010px, 468px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-btn_product@2x', );
$sm-btn-reply-2x-name: 'sm-btn_reply@2x';
$sm-btn-reply-2x-x: 0px;
$sm-btn-reply-2x-y: 0px;
$sm-btn-reply-2x-offset-x: 0px;
$sm-btn-reply-2x-offset-y: 0px;
$sm-btn-reply-2x-width: 426px;
$sm-btn-reply-2x-height: 104px;
$sm-btn-reply-2x-total-width: 1010px;
$sm-btn-reply-2x-total-height: 468px;
$sm-btn-reply-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-btn-reply-2x: (0px, 0px, 0px, 0px, 426px, 104px, 1010px, 468px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-btn_reply@2x', );
$sm-btn-styler-2x-name: 'sm-btn_styler@2x';
$sm-btn-styler-2x-x: 672px;
$sm-btn-styler-2x-y: 232px;
$sm-btn-styler-2x-offset-x: -672px;
$sm-btn-styler-2x-offset-y: -232px;
$sm-btn-styler-2x-width: 276px;
$sm-btn-styler-2x-height: 40px;
$sm-btn-styler-2x-total-width: 1010px;
$sm-btn-styler-2x-total-height: 468px;
$sm-btn-styler-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-btn-styler-2x: (672px, 232px, -672px, -232px, 276px, 40px, 1010px, 468px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-btn_styler@2x', );
$sm-icon-selected01-2x-name: 'sm-icon_selected01@2x';
$sm-icon-selected01-2x-x: 948px;
$sm-icon-selected01-2x-y: 38px;
$sm-icon-selected01-2x-offset-x: -948px;
$sm-icon-selected01-2x-offset-y: -38px;
$sm-icon-selected01-2x-width: 62px;
$sm-icon-selected01-2x-height: 32px;
$sm-icon-selected01-2x-total-width: 1010px;
$sm-icon-selected01-2x-total-height: 468px;
$sm-icon-selected01-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-icon-selected01-2x: (948px, 38px, -948px, -38px, 62px, 32px, 1010px, 468px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-icon_selected01@2x', );
$sm-radio-agreement01-2x-name: 'sm-radio_agreement01@2x';
$sm-radio-agreement01-2x-x: 796px;
$sm-radio-agreement01-2x-y: 298px;
$sm-radio-agreement01-2x-offset-x: -796px;
$sm-radio-agreement01-2x-offset-y: -298px;
$sm-radio-agreement01-2x-width: 104px;
$sm-radio-agreement01-2x-height: 34px;
$sm-radio-agreement01-2x-total-width: 1010px;
$sm-radio-agreement01-2x-total-height: 468px;
$sm-radio-agreement01-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-radio-agreement01-2x: (796px, 298px, -796px, -298px, 104px, 34px, 1010px, 468px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-radio_agreement01@2x', );
$sm-radio-agreement01-selected-2x-name: 'sm-radio_agreement01_selected@2x';
$sm-radio-agreement01-selected-2x-x: 0px;
$sm-radio-agreement01-selected-2x-y: 376px;
$sm-radio-agreement01-selected-2x-offset-x: 0px;
$sm-radio-agreement01-selected-2x-offset-y: -376px;
$sm-radio-agreement01-selected-2x-width: 104px;
$sm-radio-agreement01-selected-2x-height: 34px;
$sm-radio-agreement01-selected-2x-total-width: 1010px;
$sm-radio-agreement01-selected-2x-total-height: 468px;
$sm-radio-agreement01-selected-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-radio-agreement01-selected-2x: (0px, 376px, 0px, -376px, 104px, 34px, 1010px, 468px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-radio_agreement01_selected@2x', );
$sm-radio-agreement02-2x-name: 'sm-radio_agreement02@2x';
$sm-radio-agreement02-2x-x: 662px;
$sm-radio-agreement02-2x-y: 298px;
$sm-radio-agreement02-2x-offset-x: -662px;
$sm-radio-agreement02-2x-offset-y: -298px;
$sm-radio-agreement02-2x-width: 122px;
$sm-radio-agreement02-2x-height: 34px;
$sm-radio-agreement02-2x-total-width: 1010px;
$sm-radio-agreement02-2x-total-height: 468px;
$sm-radio-agreement02-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-radio-agreement02-2x: (662px, 298px, -662px, -298px, 122px, 34px, 1010px, 468px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-radio_agreement02@2x', );
$sm-radio-agreement02-selected-2x-name: 'sm-radio_agreement02_selected@2x';
$sm-radio-agreement02-selected-2x-x: 808px;
$sm-radio-agreement02-selected-2x-y: 170px;
$sm-radio-agreement02-selected-2x-offset-x: -808px;
$sm-radio-agreement02-selected-2x-offset-y: -170px;
$sm-radio-agreement02-selected-2x-width: 122px;
$sm-radio-agreement02-selected-2x-height: 34px;
$sm-radio-agreement02-selected-2x-total-width: 1010px;
$sm-radio-agreement02-selected-2x-total-height: 468px;
$sm-radio-agreement02-selected-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-radio-agreement02-selected-2x: (808px, 170px, -808px, -170px, 122px, 34px, 1010px, 468px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-radio_agreement02_selected@2x', );
$sm-title-application-2x-name: 'sm-title_application@2x';
$sm-title-application-2x-x: 438px;
$sm-title-application-2x-y: 0px;
$sm-title-application-2x-offset-x: -438px;
$sm-title-application-2x-offset-y: 0px;
$sm-title-application-2x-width: 572px;
$sm-title-application-2x-height: 26px;
$sm-title-application-2x-total-width: 1010px;
$sm-title-application-2x-total-height: 468px;
$sm-title-application-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-title-application-2x: (438px, 0px, -438px, 0px, 572px, 26px, 1010px, 468px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-title_application@2x', );
$sm-txt-agreement01-2x-name: 'sm-txt_agreement01@2x';
$sm-txt-agreement01-2x-x: 438px;
$sm-txt-agreement01-2x-y: 170px;
$sm-txt-agreement01-2x-offset-x: -438px;
$sm-txt-agreement01-2x-offset-y: -170px;
$sm-txt-agreement01-2x-width: 358px;
$sm-txt-agreement01-2x-height: 44px;
$sm-txt-agreement01-2x-total-width: 1010px;
$sm-txt-agreement01-2x-total-height: 468px;
$sm-txt-agreement01-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-txt-agreement01-2x: (438px, 170px, -438px, -170px, 358px, 44px, 1010px, 468px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-txt_agreement01@2x', );
$sm-txt-agreement02-2x-name: 'sm-txt_agreement02@2x';
$sm-txt-agreement02-2x-x: 404px;
$sm-txt-agreement02-2x-y: 298px;
$sm-txt-agreement02-2x-offset-x: -404px;
$sm-txt-agreement02-2x-offset-y: -298px;
$sm-txt-agreement02-2x-width: 246px;
$sm-txt-agreement02-2x-height: 44px;
$sm-txt-agreement02-2x-total-width: 1010px;
$sm-txt-agreement02-2x-total-height: 468px;
$sm-txt-agreement02-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-txt-agreement02-2x: (404px, 298px, -404px, -298px, 246px, 44px, 1010px, 468px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-txt_agreement02@2x', );
$sm-txt-name-2x-name: 'sm-txt_name@2x';
$sm-txt-name-2x-x: 66px;
$sm-txt-name-2x-y: 422px;
$sm-txt-name-2x-offset-x: -66px;
$sm-txt-name-2x-offset-y: -422px;
$sm-txt-name-2x-width: 38px;
$sm-txt-name-2x-height: 46px;
$sm-txt-name-2x-total-width: 1010px;
$sm-txt-name-2x-total-height: 468px;
$sm-txt-name-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-txt-name-2x: (66px, 422px, -66px, -422px, 38px, 46px, 1010px, 468px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-txt_name@2x', );
$sm-txt-phone-2x-name: 'sm-txt_phone@2x';
$sm-txt-phone-2x-x: 0px;
$sm-txt-phone-2x-y: 422px;
$sm-txt-phone-2x-offset-x: 0px;
$sm-txt-phone-2x-offset-y: -422px;
$sm-txt-phone-2x-width: 54px;
$sm-txt-phone-2x-height: 46px;
$sm-txt-phone-2x-total-width: 1010px;
$sm-txt-phone-2x-total-height: 468px;
$sm-txt-phone-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-txt-phone-2x: (0px, 422px, 0px, -422px, 54px, 46px, 1010px, 468px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-txt_phone@2x', );
$spritesheet-width: 505px;
$spritesheet-height: 234px;
$spritesheet-image: '/assets/images/mobile/sprites_mobile.png';
$spritesheet-sprites: ($sm-btn-application, $sm-btn-close, $sm-btn-done, $sm-btn-event01, $sm-btn-event01-selected, $sm-btn-event02, $sm-btn-event02-selected, $sm-btn-lg, $sm-btn-naver, $sm-btn-product, $sm-btn-reply, $sm-btn-styler, $sm-icon-selected01, $sm-radio-agreement01, $sm-radio-agreement01-selected, $sm-radio-agreement02, $sm-radio-agreement02-selected, $sm-title-application, $sm-txt-agreement01, $sm-txt-agreement02, $sm-txt-name, $sm-txt-phone, );
$spritesheet: (505px, 234px, '/assets/images/mobile/sprites_mobile.png', $spritesheet-sprites, );
$retina-spritesheet-width: 1010px;
$retina-spritesheet-height: 468px;
$retina-spritesheet-image: '/assets/images/mobile/sprites_mobile@2x.png';
$retina-spritesheet-sprites: ($sm-btn-application-2x, $sm-btn-close-2x, $sm-btn-done-2x, $sm-btn-event01-2x, $sm-btn-event01-selected-2x, $sm-btn-event02-2x, $sm-btn-event02-selected-2x, $sm-btn-lg-2x, $sm-btn-naver-2x, $sm-btn-product-2x, $sm-btn-reply-2x, $sm-btn-styler-2x, $sm-icon-selected01-2x, $sm-radio-agreement01-2x, $sm-radio-agreement01-selected-2x, $sm-radio-agreement02-2x, $sm-radio-agreement02-selected-2x, $sm-title-application-2x, $sm-txt-agreement01-2x, $sm-txt-agreement02-2x, $sm-txt-name-2x, $sm-txt-phone-2x, );
$retina-spritesheet: (1010px, 468px, '/assets/images/mobile/sprites_mobile@2x.png', $retina-spritesheet-sprites, );

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
$sm-btn-application-group-name: 'sm-btn_application';
$sm-btn-application-group: ('sm-btn_application', $sm-btn-application, $sm-btn-application-2x, );
$sm-btn-close-group-name: 'sm-btn_close';
$sm-btn-close-group: ('sm-btn_close', $sm-btn-close, $sm-btn-close-2x, );
$sm-btn-done-group-name: 'sm-btn_done';
$sm-btn-done-group: ('sm-btn_done', $sm-btn-done, $sm-btn-done-2x, );
$sm-btn-event01-group-name: 'sm-btn_event01';
$sm-btn-event01-group: ('sm-btn_event01', $sm-btn-event01, $sm-btn-event01-2x, );
$sm-btn-event01-selected-group-name: 'sm-btn_event01_selected';
$sm-btn-event01-selected-group: ('sm-btn_event01_selected', $sm-btn-event01-selected, $sm-btn-event01-selected-2x, );
$sm-btn-event02-group-name: 'sm-btn_event02';
$sm-btn-event02-group: ('sm-btn_event02', $sm-btn-event02, $sm-btn-event02-2x, );
$sm-btn-event02-selected-group-name: 'sm-btn_event02_selected';
$sm-btn-event02-selected-group: ('sm-btn_event02_selected', $sm-btn-event02-selected, $sm-btn-event02-selected-2x, );
$sm-btn-lg-group-name: 'sm-btn_lg';
$sm-btn-lg-group: ('sm-btn_lg', $sm-btn-lg, $sm-btn-lg-2x, );
$sm-btn-naver-group-name: 'sm-btn_naver';
$sm-btn-naver-group: ('sm-btn_naver', $sm-btn-naver, $sm-btn-naver-2x, );
$sm-btn-product-group-name: 'sm-btn_product';
$sm-btn-product-group: ('sm-btn_product', $sm-btn-product, $sm-btn-product-2x, );
$sm-btn-reply-group-name: 'sm-btn_reply';
$sm-btn-reply-group: ('sm-btn_reply', $sm-btn-reply, $sm-btn-reply-2x, );
$sm-btn-styler-group-name: 'sm-btn_styler';
$sm-btn-styler-group: ('sm-btn_styler', $sm-btn-styler, $sm-btn-styler-2x, );
$sm-icon-selected01-group-name: 'sm-icon_selected01';
$sm-icon-selected01-group: ('sm-icon_selected01', $sm-icon-selected01, $sm-icon-selected01-2x, );
$sm-radio-agreement01-group-name: 'sm-radio_agreement01';
$sm-radio-agreement01-group: ('sm-radio_agreement01', $sm-radio-agreement01, $sm-radio-agreement01-2x, );
$sm-radio-agreement01-selected-group-name: 'sm-radio_agreement01_selected';
$sm-radio-agreement01-selected-group: ('sm-radio_agreement01_selected', $sm-radio-agreement01-selected, $sm-radio-agreement01-selected-2x, );
$sm-radio-agreement02-group-name: 'sm-radio_agreement02';
$sm-radio-agreement02-group: ('sm-radio_agreement02', $sm-radio-agreement02, $sm-radio-agreement02-2x, );
$sm-radio-agreement02-selected-group-name: 'sm-radio_agreement02_selected';
$sm-radio-agreement02-selected-group: ('sm-radio_agreement02_selected', $sm-radio-agreement02-selected, $sm-radio-agreement02-selected-2x, );
$sm-title-application-group-name: 'sm-title_application';
$sm-title-application-group: ('sm-title_application', $sm-title-application, $sm-title-application-2x, );
$sm-txt-agreement01-group-name: 'sm-txt_agreement01';
$sm-txt-agreement01-group: ('sm-txt_agreement01', $sm-txt-agreement01, $sm-txt-agreement01-2x, );
$sm-txt-agreement02-group-name: 'sm-txt_agreement02';
$sm-txt-agreement02-group: ('sm-txt_agreement02', $sm-txt-agreement02, $sm-txt-agreement02-2x, );
$sm-txt-name-group-name: 'sm-txt_name';
$sm-txt-name-group: ('sm-txt_name', $sm-txt-name, $sm-txt-name-2x, );
$sm-txt-phone-group-name: 'sm-txt_phone';
$sm-txt-phone-group: ('sm-txt_phone', $sm-txt-phone, $sm-txt-phone-2x, );
$retina-groups: ($sm-btn-application-group, $sm-btn-close-group, $sm-btn-done-group, $sm-btn-event01-group, $sm-btn-event01-selected-group, $sm-btn-event02-group, $sm-btn-event02-selected-group, $sm-btn-lg-group, $sm-btn-naver-group, $sm-btn-product-group, $sm-btn-reply-group, $sm-btn-styler-group, $sm-icon-selected01-group, $sm-radio-agreement01-group, $sm-radio-agreement01-selected-group, $sm-radio-agreement02-group, $sm-radio-agreement02-selected-group, $sm-title-application-group, $sm-txt-agreement01-group, $sm-txt-agreement02-group, $sm-txt-name-group, $sm-txt-phone-group, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );

.icon-home {
  @include retina-sprite($icon-home-group);
}
*/
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

/*
The `retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in SCSS

@include retina-sprites($retina-groups);
*/
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
