/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sm-btn-event01-name: 'sm-btn_event01';
$sm-btn-event01-x: 0px;
$sm-btn-event01-y: 58px;
$sm-btn-event01-offset-x: 0px;
$sm-btn-event01-offset-y: -58px;
$sm-btn-event01-width: 162px;
$sm-btn-event01-height: 27px;
$sm-btn-event01-total-width: 347px;
$sm-btn-event01-total-height: 184px;
$sm-btn-event01-image: '/assets/images/mobile/sprites_mobile.png';
$sm-btn-event01: (0px, 58px, 0px, -58px, 162px, 27px, 347px, 184px, '/assets/images/mobile/sprites_mobile.png', 'sm-btn_event01', );
$sm-btn-event01-selected-name: 'sm-btn_event01_selected';
$sm-btn-event01-selected-x: 0px;
$sm-btn-event01-selected-y: 91px;
$sm-btn-event01-selected-offset-x: 0px;
$sm-btn-event01-selected-offset-y: -91px;
$sm-btn-event01-selected-width: 162px;
$sm-btn-event01-selected-height: 27px;
$sm-btn-event01-selected-total-width: 347px;
$sm-btn-event01-selected-total-height: 184px;
$sm-btn-event01-selected-image: '/assets/images/mobile/sprites_mobile.png';
$sm-btn-event01-selected: (0px, 91px, 0px, -91px, 162px, 27px, 347px, 184px, '/assets/images/mobile/sprites_mobile.png', 'sm-btn_event01_selected', );
$sm-btn-event02-name: 'sm-btn_event02';
$sm-btn-event02-x: 0px;
$sm-btn-event02-y: 124px;
$sm-btn-event02-offset-x: 0px;
$sm-btn-event02-offset-y: -124px;
$sm-btn-event02-width: 162px;
$sm-btn-event02-height: 27px;
$sm-btn-event02-total-width: 347px;
$sm-btn-event02-total-height: 184px;
$sm-btn-event02-image: '/assets/images/mobile/sprites_mobile.png';
$sm-btn-event02: (0px, 124px, 0px, -124px, 162px, 27px, 347px, 184px, '/assets/images/mobile/sprites_mobile.png', 'sm-btn_event02', );
$sm-btn-event02-selected-name: 'sm-btn_event02_selected';
$sm-btn-event02-selected-x: 0px;
$sm-btn-event02-selected-y: 157px;
$sm-btn-event02-selected-offset-x: 0px;
$sm-btn-event02-selected-offset-y: -157px;
$sm-btn-event02-selected-width: 162px;
$sm-btn-event02-selected-height: 27px;
$sm-btn-event02-selected-total-width: 347px;
$sm-btn-event02-selected-total-height: 184px;
$sm-btn-event02-selected-image: '/assets/images/mobile/sprites_mobile.png';
$sm-btn-event02-selected: (0px, 157px, 0px, -157px, 162px, 27px, 347px, 184px, '/assets/images/mobile/sprites_mobile.png', 'sm-btn_event02_selected', );
$sm-btn-lg-name: 'sm-btn_lg';
$sm-btn-lg-x: 209px;
$sm-btn-lg-y: 26px;
$sm-btn-lg-offset-x: -209px;
$sm-btn-lg-offset-y: -26px;
$sm-btn-lg-width: 81px;
$sm-btn-lg-height: 22px;
$sm-btn-lg-total-width: 347px;
$sm-btn-lg-total-height: 184px;
$sm-btn-lg-image: '/assets/images/mobile/sprites_mobile.png';
$sm-btn-lg: (209px, 26px, -209px, -26px, 81px, 22px, 347px, 184px, '/assets/images/mobile/sprites_mobile.png', 'sm-btn_lg', );
$sm-btn-product-name: 'sm-btn_product';
$sm-btn-product-x: 209px;
$sm-btn-product-y: 54px;
$sm-btn-product-offset-x: -209px;
$sm-btn-product-offset-y: -54px;
$sm-btn-product-width: 78px;
$sm-btn-product-height: 18px;
$sm-btn-product-total-width: 347px;
$sm-btn-product-total-height: 184px;
$sm-btn-product-image: '/assets/images/mobile/sprites_mobile.png';
$sm-btn-product: (209px, 54px, -209px, -54px, 78px, 18px, 347px, 184px, '/assets/images/mobile/sprites_mobile.png', 'sm-btn_product', );
$sm-btn-reply-name: 'sm-btn_reply';
$sm-btn-reply-x: 0px;
$sm-btn-reply-y: 0px;
$sm-btn-reply-offset-x: 0px;
$sm-btn-reply-offset-y: 0px;
$sm-btn-reply-width: 203px;
$sm-btn-reply-height: 52px;
$sm-btn-reply-total-width: 347px;
$sm-btn-reply-total-height: 184px;
$sm-btn-reply-image: '/assets/images/mobile/sprites_mobile.png';
$sm-btn-reply: (0px, 0px, 0px, 0px, 203px, 52px, 347px, 184px, '/assets/images/mobile/sprites_mobile.png', 'sm-btn_reply', );
$sm-btn-styler-name: 'sm-btn_styler';
$sm-btn-styler-x: 209px;
$sm-btn-styler-y: 0px;
$sm-btn-styler-offset-x: -209px;
$sm-btn-styler-offset-y: 0px;
$sm-btn-styler-width: 138px;
$sm-btn-styler-height: 20px;
$sm-btn-styler-total-width: 347px;
$sm-btn-styler-total-height: 184px;
$sm-btn-styler-image: '/assets/images/mobile/sprites_mobile.png';
$sm-btn-styler: (209px, 0px, -209px, 0px, 138px, 20px, 347px, 184px, '/assets/images/mobile/sprites_mobile.png', 'sm-btn_styler', );
$sm-icon-selected01-name: 'sm-icon_selected01';
$sm-icon-selected01-x: 296px;
$sm-icon-selected01-y: 26px;
$sm-icon-selected01-offset-x: -296px;
$sm-icon-selected01-offset-y: -26px;
$sm-icon-selected01-width: 31px;
$sm-icon-selected01-height: 16px;
$sm-icon-selected01-total-width: 347px;
$sm-icon-selected01-total-height: 184px;
$sm-icon-selected01-image: '/assets/images/mobile/sprites_mobile.png';
$sm-icon-selected01: (296px, 26px, -296px, -26px, 31px, 16px, 347px, 184px, '/assets/images/mobile/sprites_mobile.png', 'sm-icon_selected01', );
$sm-btn-event01-2x-name: 'sm-btn_event01@2x';
$sm-btn-event01-2x-x: 0px;
$sm-btn-event01-2x-y: 116px;
$sm-btn-event01-2x-offset-x: 0px;
$sm-btn-event01-2x-offset-y: -116px;
$sm-btn-event01-2x-width: 324px;
$sm-btn-event01-2x-height: 54px;
$sm-btn-event01-2x-total-width: 694px;
$sm-btn-event01-2x-total-height: 368px;
$sm-btn-event01-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-btn-event01-2x: (0px, 116px, 0px, -116px, 324px, 54px, 694px, 368px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-btn_event01@2x', );
$sm-btn-event01-selected-2x-name: 'sm-btn_event01_selected@2x';
$sm-btn-event01-selected-2x-x: 0px;
$sm-btn-event01-selected-2x-y: 182px;
$sm-btn-event01-selected-2x-offset-x: 0px;
$sm-btn-event01-selected-2x-offset-y: -182px;
$sm-btn-event01-selected-2x-width: 324px;
$sm-btn-event01-selected-2x-height: 54px;
$sm-btn-event01-selected-2x-total-width: 694px;
$sm-btn-event01-selected-2x-total-height: 368px;
$sm-btn-event01-selected-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-btn-event01-selected-2x: (0px, 182px, 0px, -182px, 324px, 54px, 694px, 368px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-btn_event01_selected@2x', );
$sm-btn-event02-2x-name: 'sm-btn_event02@2x';
$sm-btn-event02-2x-x: 0px;
$sm-btn-event02-2x-y: 248px;
$sm-btn-event02-2x-offset-x: 0px;
$sm-btn-event02-2x-offset-y: -248px;
$sm-btn-event02-2x-width: 324px;
$sm-btn-event02-2x-height: 54px;
$sm-btn-event02-2x-total-width: 694px;
$sm-btn-event02-2x-total-height: 368px;
$sm-btn-event02-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-btn-event02-2x: (0px, 248px, 0px, -248px, 324px, 54px, 694px, 368px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-btn_event02@2x', );
$sm-btn-event02-selected-2x-name: 'sm-btn_event02_selected@2x';
$sm-btn-event02-selected-2x-x: 0px;
$sm-btn-event02-selected-2x-y: 314px;
$sm-btn-event02-selected-2x-offset-x: 0px;
$sm-btn-event02-selected-2x-offset-y: -314px;
$sm-btn-event02-selected-2x-width: 324px;
$sm-btn-event02-selected-2x-height: 54px;
$sm-btn-event02-selected-2x-total-width: 694px;
$sm-btn-event02-selected-2x-total-height: 368px;
$sm-btn-event02-selected-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-btn-event02-selected-2x: (0px, 314px, 0px, -314px, 324px, 54px, 694px, 368px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-btn_event02_selected@2x', );
$sm-btn-lg-2x-name: 'sm-btn_lg@2x';
$sm-btn-lg-2x-x: 418px;
$sm-btn-lg-2x-y: 52px;
$sm-btn-lg-2x-offset-x: -418px;
$sm-btn-lg-2x-offset-y: -52px;
$sm-btn-lg-2x-width: 162px;
$sm-btn-lg-2x-height: 44px;
$sm-btn-lg-2x-total-width: 694px;
$sm-btn-lg-2x-total-height: 368px;
$sm-btn-lg-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-btn-lg-2x: (418px, 52px, -418px, -52px, 162px, 44px, 694px, 368px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-btn_lg@2x', );
$sm-btn-product-2x-name: 'sm-btn_product@2x';
$sm-btn-product-2x-x: 418px;
$sm-btn-product-2x-y: 108px;
$sm-btn-product-2x-offset-x: -418px;
$sm-btn-product-2x-offset-y: -108px;
$sm-btn-product-2x-width: 156px;
$sm-btn-product-2x-height: 36px;
$sm-btn-product-2x-total-width: 694px;
$sm-btn-product-2x-total-height: 368px;
$sm-btn-product-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-btn-product-2x: (418px, 108px, -418px, -108px, 156px, 36px, 694px, 368px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-btn_product@2x', );
$sm-btn-reply-2x-name: 'sm-btn_reply@2x';
$sm-btn-reply-2x-x: 0px;
$sm-btn-reply-2x-y: 0px;
$sm-btn-reply-2x-offset-x: 0px;
$sm-btn-reply-2x-offset-y: 0px;
$sm-btn-reply-2x-width: 406px;
$sm-btn-reply-2x-height: 104px;
$sm-btn-reply-2x-total-width: 694px;
$sm-btn-reply-2x-total-height: 368px;
$sm-btn-reply-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-btn-reply-2x: (0px, 0px, 0px, 0px, 406px, 104px, 694px, 368px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-btn_reply@2x', );
$sm-btn-styler-2x-name: 'sm-btn_styler@2x';
$sm-btn-styler-2x-x: 418px;
$sm-btn-styler-2x-y: 0px;
$sm-btn-styler-2x-offset-x: -418px;
$sm-btn-styler-2x-offset-y: 0px;
$sm-btn-styler-2x-width: 276px;
$sm-btn-styler-2x-height: 40px;
$sm-btn-styler-2x-total-width: 694px;
$sm-btn-styler-2x-total-height: 368px;
$sm-btn-styler-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-btn-styler-2x: (418px, 0px, -418px, 0px, 276px, 40px, 694px, 368px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-btn_styler@2x', );
$sm-icon-selected01-2x-name: 'sm-icon_selected01@2x';
$sm-icon-selected01-2x-x: 592px;
$sm-icon-selected01-2x-y: 52px;
$sm-icon-selected01-2x-offset-x: -592px;
$sm-icon-selected01-2x-offset-y: -52px;
$sm-icon-selected01-2x-width: 62px;
$sm-icon-selected01-2x-height: 32px;
$sm-icon-selected01-2x-total-width: 694px;
$sm-icon-selected01-2x-total-height: 368px;
$sm-icon-selected01-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-icon-selected01-2x: (592px, 52px, -592px, -52px, 62px, 32px, 694px, 368px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-icon_selected01@2x', );
$spritesheet-width: 347px;
$spritesheet-height: 184px;
$spritesheet-image: '/assets/images/mobile/sprites_mobile.png';
$spritesheet-sprites: ($sm-btn-event01, $sm-btn-event01-selected, $sm-btn-event02, $sm-btn-event02-selected, $sm-btn-lg, $sm-btn-product, $sm-btn-reply, $sm-btn-styler, $sm-icon-selected01, );
$spritesheet: (347px, 184px, '/assets/images/mobile/sprites_mobile.png', $spritesheet-sprites, );
$retina-spritesheet-width: 694px;
$retina-spritesheet-height: 368px;
$retina-spritesheet-image: '/assets/images/mobile/sprites_mobile@2x.png';
$retina-spritesheet-sprites: ($sm-btn-event01-2x, $sm-btn-event01-selected-2x, $sm-btn-event02-2x, $sm-btn-event02-selected-2x, $sm-btn-lg-2x, $sm-btn-product-2x, $sm-btn-reply-2x, $sm-btn-styler-2x, $sm-icon-selected01-2x, );
$retina-spritesheet: (694px, 368px, '/assets/images/mobile/sprites_mobile@2x.png', $retina-spritesheet-sprites, );

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
$sm-btn-event01-group-name: 'sm-btn_event01';
$sm-btn-event01-group: ('sm-btn_event01', $sm-btn-event01, $sm-btn-event01-2x, );
$sm-btn-event01-selected-group-name: 'sm-btn_event01_selected';
$sm-btn-event01-selected-group: ('sm-btn_event01_selected', $sm-btn-event01-selected, $sm-btn-event01-selected-2x, );
$sm-btn-event02-group-name: 'sm-btn_event02';
$sm-btn-event02-group: ('sm-btn_event02', $sm-btn-event02, $sm-btn-event02-2x, );
$sm-btn-event02-selected-group-name: 'sm-btn_event02_selected';
$sm-btn-event02-selected-group: ('sm-btn_event02_selected', $sm-btn-event02-selected, $sm-btn-event02-selected-2x, );
$sm-btn-lg-group-name: 'sm-btn_lg';
$sm-btn-lg-group: ('sm-btn_lg', $sm-btn-lg, $sm-btn-lg-2x, );
$sm-btn-product-group-name: 'sm-btn_product';
$sm-btn-product-group: ('sm-btn_product', $sm-btn-product, $sm-btn-product-2x, );
$sm-btn-reply-group-name: 'sm-btn_reply';
$sm-btn-reply-group: ('sm-btn_reply', $sm-btn-reply, $sm-btn-reply-2x, );
$sm-btn-styler-group-name: 'sm-btn_styler';
$sm-btn-styler-group: ('sm-btn_styler', $sm-btn-styler, $sm-btn-styler-2x, );
$sm-icon-selected01-group-name: 'sm-icon_selected01';
$sm-icon-selected01-group: ('sm-icon_selected01', $sm-icon-selected01, $sm-icon-selected01-2x, );
$retina-groups: ($sm-btn-event01-group, $sm-btn-event01-selected-group, $sm-btn-event02-group, $sm-btn-event02-selected-group, $sm-btn-lg-group, $sm-btn-product-group, $sm-btn-reply-group, $sm-btn-styler-group, $sm-icon-selected01-group, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );

.icon-home {
  @include retina-sprite($icon-home-group);
}
*/
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

/*
The `retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in SCSS

@include retina-sprites($retina-groups);
*/
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
