/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sd-btn-application-name: 'sd-btn_application';
$sd-btn-application-x: 0px;
$sd-btn-application-y: 270px;
$sd-btn-application-offset-x: 0px;
$sd-btn-application-offset-y: -270px;
$sd-btn-application-width: 190px;
$sd-btn-application-height: 65px;
$sd-btn-application-total-width: 562px;
$sd-btn-application-total-height: 462px;
$sd-btn-application-image: '/assets/images/sprites.png';
$sd-btn-application: (0px, 270px, 0px, -270px, 190px, 65px, 562px, 462px, '/assets/images/sprites.png', 'sd-btn_application', );
$sd-btn-caption-name: 'sd-btn_caption';
$sd-btn-caption-x: 450px;
$sd-btn-caption-y: 241px;
$sd-btn-caption-offset-x: -450px;
$sd-btn-caption-offset-y: -241px;
$sd-btn-caption-width: 71px;
$sd-btn-caption-height: 24px;
$sd-btn-caption-total-width: 562px;
$sd-btn-caption-total-height: 462px;
$sd-btn-caption-image: '/assets/images/sprites.png';
$sd-btn-caption: (450px, 241px, -450px, -241px, 71px, 24px, 562px, 462px, '/assets/images/sprites.png', 'sd-btn_caption', );
$sd-btn-caption-open-name: 'sd-btn_caption_open';
$sd-btn-caption-open-x: 372px;
$sd-btn-caption-open-y: 271px;
$sd-btn-caption-open-offset-x: -372px;
$sd-btn-caption-open-offset-y: -271px;
$sd-btn-caption-open-width: 71px;
$sd-btn-caption-open-height: 24px;
$sd-btn-caption-open-total-width: 562px;
$sd-btn-caption-open-total-height: 462px;
$sd-btn-caption-open-image: '/assets/images/sprites.png';
$sd-btn-caption-open: (372px, 271px, -372px, -271px, 71px, 24px, 562px, 462px, '/assets/images/sprites.png', 'sd-btn_caption_open', );
$sd-btn-close-name: 'sd-btn_close';
$sd-btn-close-x: 372px;
$sd-btn-close-y: 145px;
$sd-btn-close-offset-x: -372px;
$sd-btn-close-offset-y: -145px;
$sd-btn-close-width: 60px;
$sd-btn-close-height: 60px;
$sd-btn-close-total-width: 562px;
$sd-btn-close-total-height: 462px;
$sd-btn-close-image: '/assets/images/sprites.png';
$sd-btn-close: (372px, 145px, -372px, -145px, 60px, 60px, 562px, 462px, '/assets/images/sprites.png', 'sd-btn_close', );
$sd-btn-done-name: 'sd-btn_done';
$sd-btn-done-x: 372px;
$sd-btn-done-y: 0px;
$sd-btn-done-offset-x: -372px;
$sd-btn-done-offset-y: 0px;
$sd-btn-done-width: 190px;
$sd-btn-done-height: 65px;
$sd-btn-done-total-width: 562px;
$sd-btn-done-total-height: 462px;
$sd-btn-done-image: '/assets/images/sprites.png';
$sd-btn-done: (372px, 0px, -372px, 0px, 190px, 65px, 562px, 462px, '/assets/images/sprites.png', 'sd-btn_done', );
$sd-btn-event01-name: 'sd-btn_event01';
$sd-btn-event01-x: 215px;
$sd-btn-event01-y: 369px;
$sd-btn-event01-offset-x: -215px;
$sd-btn-event01-offset-y: -369px;
$sd-btn-event01-width: 300px;
$sd-btn-event01-height: 20px;
$sd-btn-event01-total-width: 562px;
$sd-btn-event01-total-height: 462px;
$sd-btn-event01-image: '/assets/images/sprites.png';
$sd-btn-event01: (215px, 369px, -215px, -369px, 300px, 20px, 562px, 462px, '/assets/images/sprites.png', 'sd-btn_event01', );
$sd-btn-event01-selected-name: 'sd-btn_event01_selected';
$sd-btn-event01-selected-x: 0px;
$sd-btn-event01-selected-y: 419px;
$sd-btn-event01-selected-offset-x: 0px;
$sd-btn-event01-selected-offset-y: -419px;
$sd-btn-event01-selected-width: 300px;
$sd-btn-event01-selected-height: 20px;
$sd-btn-event01-selected-total-width: 562px;
$sd-btn-event01-selected-total-height: 462px;
$sd-btn-event01-selected-image: '/assets/images/sprites.png';
$sd-btn-event01-selected: (0px, 419px, 0px, -419px, 300px, 20px, 562px, 462px, '/assets/images/sprites.png', 'sd-btn_event01_selected', );
$sd-btn-event02-name: 'sd-btn_event02';
$sd-btn-event02-x: 0px;
$sd-btn-event02-y: 445px;
$sd-btn-event02-offset-x: 0px;
$sd-btn-event02-offset-y: -445px;
$sd-btn-event02-width: 294px;
$sd-btn-event02-height: 17px;
$sd-btn-event02-total-width: 562px;
$sd-btn-event02-total-height: 462px;
$sd-btn-event02-image: '/assets/images/sprites.png';
$sd-btn-event02: (0px, 445px, 0px, -445px, 294px, 17px, 562px, 462px, '/assets/images/sprites.png', 'sd-btn_event02', );
$sd-btn-event02-selected-name: 'sd-btn_event02_selected';
$sd-btn-event02-selected-x: 215px;
$sd-btn-event02-selected-y: 395px;
$sd-btn-event02-selected-offset-x: -215px;
$sd-btn-event02-selected-offset-y: -395px;
$sd-btn-event02-selected-width: 294px;
$sd-btn-event02-selected-height: 17px;
$sd-btn-event02-selected-total-width: 562px;
$sd-btn-event02-selected-total-height: 462px;
$sd-btn-event02-selected-image: '/assets/images/sprites.png';
$sd-btn-event02-selected: (215px, 395px, -215px, -395px, 294px, 17px, 562px, 462px, '/assets/images/sprites.png', 'sd-btn_event02_selected', );
$sd-btn-lg-name: 'sd-btn_lg';
$sd-btn-lg-x: 438px;
$sd-btn-lg-y: 145px;
$sd-btn-lg-offset-x: -438px;
$sd-btn-lg-offset-y: -145px;
$sd-btn-lg-width: 112px;
$sd-btn-lg-height: 30px;
$sd-btn-lg-total-width: 562px;
$sd-btn-lg-total-height: 462px;
$sd-btn-lg-image: '/assets/images/sprites.png';
$sd-btn-lg: (438px, 145px, -438px, -145px, 112px, 30px, 562px, 462px, '/assets/images/sprites.png', 'sd-btn_lg', );
$sd-btn-naver-name: 'sd-btn_naver';
$sd-btn-naver-x: 0px;
$sd-btn-naver-y: 110px;
$sd-btn-naver-offset-x: 0px;
$sd-btn-naver-offset-y: -110px;
$sd-btn-naver-width: 326px;
$sd-btn-naver-height: 104px;
$sd-btn-naver-total-width: 562px;
$sd-btn-naver-total-height: 462px;
$sd-btn-naver-image: '/assets/images/sprites.png';
$sd-btn-naver: (0px, 110px, 0px, -110px, 326px, 104px, 562px, 462px, '/assets/images/sprites.png', 'sd-btn_naver', );
$sd-btn-product-name: 'sd-btn_product';
$sd-btn-product-x: 372px;
$sd-btn-product-y: 71px;
$sd-btn-product-offset-x: -372px;
$sd-btn-product-offset-y: -71px;
$sd-btn-product-width: 136px;
$sd-btn-product-height: 36px;
$sd-btn-product-total-width: 562px;
$sd-btn-product-total-height: 462px;
$sd-btn-product-image: '/assets/images/sprites.png';
$sd-btn-product: (372px, 71px, -372px, -71px, 136px, 36px, 562px, 462px, '/assets/images/sprites.png', 'sd-btn_product', );
$sd-btn-reply-name: 'sd-btn_reply';
$sd-btn-reply-x: 0px;
$sd-btn-reply-y: 0px;
$sd-btn-reply-offset-x: 0px;
$sd-btn-reply-offset-y: 0px;
$sd-btn-reply-width: 366px;
$sd-btn-reply-height: 104px;
$sd-btn-reply-total-width: 562px;
$sd-btn-reply-total-height: 462px;
$sd-btn-reply-image: '/assets/images/sprites.png';
$sd-btn-reply: (0px, 0px, 0px, 0px, 366px, 104px, 562px, 462px, '/assets/images/sprites.png', 'sd-btn_reply', );
$sd-btn-styler-name: 'sd-btn_styler';
$sd-btn-styler-x: 372px;
$sd-btn-styler-y: 113px;
$sd-btn-styler-offset-x: -372px;
$sd-btn-styler-offset-y: -113px;
$sd-btn-styler-width: 178px;
$sd-btn-styler-height: 26px;
$sd-btn-styler-total-width: 562px;
$sd-btn-styler-total-height: 462px;
$sd-btn-styler-image: '/assets/images/sprites.png';
$sd-btn-styler: (372px, 113px, -372px, -113px, 178px, 26px, 562px, 462px, '/assets/images/sprites.png', 'sd-btn_styler', );
$sd-icon-selected01-name: 'sd-icon_selected01';
$sd-icon-selected01-x: 449px;
$sd-icon-selected01-y: 271px;
$sd-icon-selected01-offset-x: -449px;
$sd-icon-selected01-offset-y: -271px;
$sd-icon-selected01-width: 39px;
$sd-icon-selected01-height: 19px;
$sd-icon-selected01-total-width: 562px;
$sd-icon-selected01-total-height: 462px;
$sd-icon-selected01-image: '/assets/images/sprites.png';
$sd-icon-selected01: (449px, 271px, -449px, -271px, 39px, 19px, 562px, 462px, '/assets/images/sprites.png', 'sd-icon_selected01', );
$sd-radio-agreement01-name: 'sd-radio_agreement01';
$sd-radio-agreement01-x: 372px;
$sd-radio-agreement01-y: 241px;
$sd-radio-agreement01-offset-x: -372px;
$sd-radio-agreement01-offset-y: -241px;
$sd-radio-agreement01-width: 72px;
$sd-radio-agreement01-height: 24px;
$sd-radio-agreement01-total-width: 562px;
$sd-radio-agreement01-total-height: 462px;
$sd-radio-agreement01-image: '/assets/images/sprites.png';
$sd-radio-agreement01: (372px, 241px, -372px, -241px, 72px, 24px, 562px, 462px, '/assets/images/sprites.png', 'sd-radio_agreement01', );
$sd-radio-agreement01-selected-name: 'sd-radio_agreement01_selected';
$sd-radio-agreement01-selected-x: 464px;
$sd-radio-agreement01-selected-y: 211px;
$sd-radio-agreement01-selected-offset-x: -464px;
$sd-radio-agreement01-selected-offset-y: -211px;
$sd-radio-agreement01-selected-width: 72px;
$sd-radio-agreement01-selected-height: 24px;
$sd-radio-agreement01-selected-total-width: 562px;
$sd-radio-agreement01-selected-total-height: 462px;
$sd-radio-agreement01-selected-image: '/assets/images/sprites.png';
$sd-radio-agreement01-selected: (464px, 211px, -464px, -211px, 72px, 24px, 562px, 462px, '/assets/images/sprites.png', 'sd-radio_agreement01_selected', );
$sd-radio-agreement02-name: 'sd-radio_agreement02';
$sd-radio-agreement02-x: 438px;
$sd-radio-agreement02-y: 181px;
$sd-radio-agreement02-offset-x: -438px;
$sd-radio-agreement02-offset-y: -181px;
$sd-radio-agreement02-width: 86px;
$sd-radio-agreement02-height: 24px;
$sd-radio-agreement02-total-width: 562px;
$sd-radio-agreement02-total-height: 462px;
$sd-radio-agreement02-image: '/assets/images/sprites.png';
$sd-radio-agreement02: (438px, 181px, -438px, -181px, 86px, 24px, 562px, 462px, '/assets/images/sprites.png', 'sd-radio_agreement02', );
$sd-radio-agreement02-selected-name: 'sd-radio_agreement02_selected';
$sd-radio-agreement02-selected-x: 372px;
$sd-radio-agreement02-selected-y: 211px;
$sd-radio-agreement02-selected-offset-x: -372px;
$sd-radio-agreement02-selected-offset-y: -211px;
$sd-radio-agreement02-selected-width: 86px;
$sd-radio-agreement02-selected-height: 24px;
$sd-radio-agreement02-selected-total-width: 562px;
$sd-radio-agreement02-selected-total-height: 462px;
$sd-radio-agreement02-selected-image: '/assets/images/sprites.png';
$sd-radio-agreement02-selected: (372px, 211px, -372px, -211px, 86px, 24px, 562px, 462px, '/assets/images/sprites.png', 'sd-radio_agreement02_selected', );
$sd-title-application-name: 'sd-title_application';
$sd-title-application-x: 0px;
$sd-title-application-y: 341px;
$sd-title-application-offset-x: 0px;
$sd-title-application-offset-y: -341px;
$sd-title-application-width: 484px;
$sd-title-application-height: 22px;
$sd-title-application-total-width: 562px;
$sd-title-application-total-height: 462px;
$sd-title-application-image: '/assets/images/sprites.png';
$sd-title-application: (0px, 341px, 0px, -341px, 484px, 22px, 562px, 462px, '/assets/images/sprites.png', 'sd-title_application', );
$sd-txt-agreement01-name: 'sd-txt_agreement01';
$sd-txt-agreement01-x: 0px;
$sd-txt-agreement01-y: 220px;
$sd-txt-agreement01-offset-x: 0px;
$sd-txt-agreement01-offset-y: -220px;
$sd-txt-agreement01-width: 301px;
$sd-txt-agreement01-height: 44px;
$sd-txt-agreement01-total-width: 562px;
$sd-txt-agreement01-total-height: 462px;
$sd-txt-agreement01-image: '/assets/images/sprites.png';
$sd-txt-agreement01: (0px, 220px, 0px, -220px, 301px, 44px, 562px, 462px, '/assets/images/sprites.png', 'sd-txt_agreement01', );
$sd-txt-agreement02-name: 'sd-txt_agreement02';
$sd-txt-agreement02-x: 0px;
$sd-txt-agreement02-y: 369px;
$sd-txt-agreement02-offset-x: 0px;
$sd-txt-agreement02-offset-y: -369px;
$sd-txt-agreement02-width: 209px;
$sd-txt-agreement02-height: 44px;
$sd-txt-agreement02-total-width: 562px;
$sd-txt-agreement02-total-height: 462px;
$sd-txt-agreement02-image: '/assets/images/sprites.png';
$sd-txt-agreement02: (0px, 369px, 0px, -369px, 209px, 44px, 562px, 462px, '/assets/images/sprites.png', 'sd-txt_agreement02', );
$sd-txt-name-name: 'sd-txt_name';
$sd-txt-name-x: 332px;
$sd-txt-name-y: 110px;
$sd-txt-name-offset-x: -332px;
$sd-txt-name-offset-y: -110px;
$sd-txt-name-width: 27px;
$sd-txt-name-height: 36px;
$sd-txt-name-total-width: 562px;
$sd-txt-name-total-height: 462px;
$sd-txt-name-image: '/assets/images/sprites.png';
$sd-txt-name: (332px, 110px, -332px, -110px, 27px, 36px, 562px, 462px, '/assets/images/sprites.png', 'sd-txt_name', );
$sd-txt-phone-name: 'sd-txt_phone';
$sd-txt-phone-x: 514px;
$sd-txt-phone-y: 71px;
$sd-txt-phone-offset-x: -514px;
$sd-txt-phone-offset-y: -71px;
$sd-txt-phone-width: 40px;
$sd-txt-phone-height: 36px;
$sd-txt-phone-total-width: 562px;
$sd-txt-phone-total-height: 462px;
$sd-txt-phone-image: '/assets/images/sprites.png';
$sd-txt-phone: (514px, 71px, -514px, -71px, 40px, 36px, 562px, 462px, '/assets/images/sprites.png', 'sd-txt_phone', );
$spritesheet-width: 562px;
$spritesheet-height: 462px;
$spritesheet-image: '/assets/images/sprites.png';
$spritesheet-sprites: ($sd-btn-application, $sd-btn-caption, $sd-btn-caption-open, $sd-btn-close, $sd-btn-done, $sd-btn-event01, $sd-btn-event01-selected, $sd-btn-event02, $sd-btn-event02-selected, $sd-btn-lg, $sd-btn-naver, $sd-btn-product, $sd-btn-reply, $sd-btn-styler, $sd-icon-selected01, $sd-radio-agreement01, $sd-radio-agreement01-selected, $sd-radio-agreement02, $sd-radio-agreement02-selected, $sd-title-application, $sd-txt-agreement01, $sd-txt-agreement02, $sd-txt-name, $sd-txt-phone, );
$spritesheet: (562px, 462px, '/assets/images/sprites.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
