/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sd-btn-application-name: 'sd-btn_application';
$sd-btn-application-x: 402px;
$sd-btn-application-y: 121px;
$sd-btn-application-offset-x: -402px;
$sd-btn-application-offset-y: -121px;
$sd-btn-application-width: 190px;
$sd-btn-application-height: 65px;
$sd-btn-application-total-width: 703px;
$sd-btn-application-total-height: 450px;
$sd-btn-application-image: '/assets/images/sprites.png';
$sd-btn-application: (402px, 121px, -402px, -121px, 190px, 65px, 703px, 450px, '/assets/images/sprites.png', 'sd-btn_application', );
$sd-btn-caption-name: 'sd-btn_caption';
$sd-btn-caption-x: 262px;
$sd-btn-caption-y: 424px;
$sd-btn-caption-offset-x: -262px;
$sd-btn-caption-offset-y: -424px;
$sd-btn-caption-width: 71px;
$sd-btn-caption-height: 24px;
$sd-btn-caption-total-width: 703px;
$sd-btn-caption-total-height: 450px;
$sd-btn-caption-image: '/assets/images/sprites.png';
$sd-btn-caption: (262px, 424px, -262px, -424px, 71px, 24px, 703px, 450px, '/assets/images/sprites.png', 'sd-btn_caption', );
$sd-btn-caption-open-name: 'sd-btn_caption_open';
$sd-btn-caption-open-x: 339px;
$sd-btn-caption-open-y: 424px;
$sd-btn-caption-open-offset-x: -339px;
$sd-btn-caption-open-offset-y: -424px;
$sd-btn-caption-open-width: 71px;
$sd-btn-caption-open-height: 24px;
$sd-btn-caption-open-total-width: 703px;
$sd-btn-caption-open-total-height: 450px;
$sd-btn-caption-open-image: '/assets/images/sprites.png';
$sd-btn-caption-open: (339px, 424px, -339px, -424px, 71px, 24px, 703px, 450px, '/assets/images/sprites.png', 'sd-btn_caption_open', );
$sd-btn-close-name: 'sd-btn_close';
$sd-btn-close-x: 598px;
$sd-btn-close-y: 50px;
$sd-btn-close-offset-x: -598px;
$sd-btn-close-offset-y: -50px;
$sd-btn-close-width: 60px;
$sd-btn-close-height: 60px;
$sd-btn-close-total-width: 703px;
$sd-btn-close-total-height: 450px;
$sd-btn-close-image: '/assets/images/sprites.png';
$sd-btn-close: (598px, 50px, -598px, -50px, 60px, 60px, 703px, 450px, '/assets/images/sprites.png', 'sd-btn_close', );
$sd-btn-close02-name: 'sd-btn_close02';
$sd-btn-close02-x: 332px;
$sd-btn-close02-y: 152px;
$sd-btn-close02-offset-x: -332px;
$sd-btn-close02-offset-y: -152px;
$sd-btn-close02-width: 26px;
$sd-btn-close02-height: 26px;
$sd-btn-close02-total-width: 703px;
$sd-btn-close02-total-height: 450px;
$sd-btn-close02-image: '/assets/images/sprites.png';
$sd-btn-close02: (332px, 152px, -332px, -152px, 26px, 26px, 703px, 450px, '/assets/images/sprites.png', 'sd-btn_close02', );
$sd-btn-done-name: 'sd-btn_done';
$sd-btn-done-x: 402px;
$sd-btn-done-y: 50px;
$sd-btn-done-offset-x: -402px;
$sd-btn-done-offset-y: -50px;
$sd-btn-done-width: 190px;
$sd-btn-done-height: 65px;
$sd-btn-done-total-width: 703px;
$sd-btn-done-total-height: 450px;
$sd-btn-done-image: '/assets/images/sprites.png';
$sd-btn-done: (402px, 50px, -402px, -50px, 190px, 65px, 703px, 450px, '/assets/images/sprites.png', 'sd-btn_done', );
$sd-btn-event01-name: 'sd-btn_event01';
$sd-btn-event01-x: 402px;
$sd-btn-event01-y: 268px;
$sd-btn-event01-offset-x: -402px;
$sd-btn-event01-offset-y: -268px;
$sd-btn-event01-width: 300px;
$sd-btn-event01-height: 20px;
$sd-btn-event01-total-width: 703px;
$sd-btn-event01-total-height: 450px;
$sd-btn-event01-image: '/assets/images/sprites.png';
$sd-btn-event01: (402px, 268px, -402px, -268px, 300px, 20px, 703px, 450px, '/assets/images/sprites.png', 'sd-btn_event01', );
$sd-btn-event01-selected-name: 'sd-btn_event01_selected';
$sd-btn-event01-selected-x: 402px;
$sd-btn-event01-selected-y: 242px;
$sd-btn-event01-selected-offset-x: -402px;
$sd-btn-event01-selected-offset-y: -242px;
$sd-btn-event01-selected-width: 300px;
$sd-btn-event01-selected-height: 20px;
$sd-btn-event01-selected-total-width: 703px;
$sd-btn-event01-selected-total-height: 450px;
$sd-btn-event01-selected-image: '/assets/images/sprites.png';
$sd-btn-event01-selected: (402px, 242px, -402px, -242px, 300px, 20px, 703px, 450px, '/assets/images/sprites.png', 'sd-btn_event01_selected', );
$sd-btn-event02-name: 'sd-btn_event02';
$sd-btn-event02-x: 402px;
$sd-btn-event02-y: 294px;
$sd-btn-event02-offset-x: -402px;
$sd-btn-event02-offset-y: -294px;
$sd-btn-event02-width: 294px;
$sd-btn-event02-height: 17px;
$sd-btn-event02-total-width: 703px;
$sd-btn-event02-total-height: 450px;
$sd-btn-event02-image: '/assets/images/sprites.png';
$sd-btn-event02: (402px, 294px, -402px, -294px, 294px, 17px, 703px, 450px, '/assets/images/sprites.png', 'sd-btn_event02', );
$sd-btn-event02-selected-name: 'sd-btn_event02_selected';
$sd-btn-event02-selected-x: 402px;
$sd-btn-event02-selected-y: 317px;
$sd-btn-event02-selected-offset-x: -402px;
$sd-btn-event02-selected-offset-y: -317px;
$sd-btn-event02-selected-width: 294px;
$sd-btn-event02-selected-height: 17px;
$sd-btn-event02-selected-total-width: 703px;
$sd-btn-event02-selected-total-height: 450px;
$sd-btn-event02-selected-image: '/assets/images/sprites.png';
$sd-btn-event02-selected: (402px, 317px, -402px, -317px, 294px, 17px, 703px, 450px, '/assets/images/sprites.png', 'sd-btn_event02_selected', );
$sd-btn-lg-name: 'sd-btn_lg';
$sd-btn-lg-x: 544px;
$sd-btn-lg-y: 340px;
$sd-btn-lg-offset-x: -544px;
$sd-btn-lg-offset-y: -340px;
$sd-btn-lg-width: 112px;
$sd-btn-lg-height: 30px;
$sd-btn-lg-total-width: 703px;
$sd-btn-lg-total-height: 450px;
$sd-btn-lg-image: '/assets/images/sprites.png';
$sd-btn-lg: (544px, 340px, -544px, -340px, 112px, 30px, 703px, 450px, '/assets/images/sprites.png', 'sd-btn_lg', );
$sd-btn-naver-name: 'sd-btn_naver';
$sd-btn-naver-x: 0px;
$sd-btn-naver-y: 110px;
$sd-btn-naver-offset-x: 0px;
$sd-btn-naver-offset-y: -110px;
$sd-btn-naver-width: 326px;
$sd-btn-naver-height: 104px;
$sd-btn-naver-total-width: 703px;
$sd-btn-naver-total-height: 450px;
$sd-btn-naver-image: '/assets/images/sprites.png';
$sd-btn-naver: (0px, 110px, 0px, -110px, 326px, 104px, 703px, 450px, '/assets/images/sprites.png', 'sd-btn_naver', );
$sd-btn-product-name: 'sd-btn_product';
$sd-btn-product-x: 402px;
$sd-btn-product-y: 340px;
$sd-btn-product-offset-x: -402px;
$sd-btn-product-offset-y: -340px;
$sd-btn-product-width: 136px;
$sd-btn-product-height: 36px;
$sd-btn-product-total-width: 703px;
$sd-btn-product-total-height: 450px;
$sd-btn-product-image: '/assets/images/sprites.png';
$sd-btn-product: (402px, 340px, -402px, -340px, 136px, 36px, 703px, 450px, '/assets/images/sprites.png', 'sd-btn_product', );
$sd-btn-reply-name: 'sd-btn_reply';
$sd-btn-reply-x: 0px;
$sd-btn-reply-y: 0px;
$sd-btn-reply-offset-x: 0px;
$sd-btn-reply-offset-y: 0px;
$sd-btn-reply-width: 396px;
$sd-btn-reply-height: 104px;
$sd-btn-reply-total-width: 703px;
$sd-btn-reply-total-height: 450px;
$sd-btn-reply-image: '/assets/images/sprites.png';
$sd-btn-reply: (0px, 0px, 0px, 0px, 396px, 104px, 703px, 450px, '/assets/images/sprites.png', 'sd-btn_reply', );
$sd-btn-shortcut-event01-name: 'sd-btn_shortcut_event01';
$sd-btn-shortcut-event01-x: 176px;
$sd-btn-shortcut-event01-y: 220px;
$sd-btn-shortcut-event01-offset-x: -176px;
$sd-btn-shortcut-event01-offset-y: -220px;
$sd-btn-shortcut-event01-width: 170px;
$sd-btn-shortcut-event01-height: 170px;
$sd-btn-shortcut-event01-total-width: 703px;
$sd-btn-shortcut-event01-total-height: 450px;
$sd-btn-shortcut-event01-image: '/assets/images/sprites.png';
$sd-btn-shortcut-event01: (176px, 220px, -176px, -220px, 170px, 170px, 703px, 450px, '/assets/images/sprites.png', 'sd-btn_shortcut_event01', );
$sd-btn-shortcut-event02-name: 'sd-btn_shortcut_event02';
$sd-btn-shortcut-event02-x: 0px;
$sd-btn-shortcut-event02-y: 220px;
$sd-btn-shortcut-event02-offset-x: 0px;
$sd-btn-shortcut-event02-offset-y: -220px;
$sd-btn-shortcut-event02-width: 170px;
$sd-btn-shortcut-event02-height: 170px;
$sd-btn-shortcut-event02-total-width: 703px;
$sd-btn-shortcut-event02-total-height: 450px;
$sd-btn-shortcut-event02-image: '/assets/images/sprites.png';
$sd-btn-shortcut-event02: (0px, 220px, 0px, -220px, 170px, 170px, 703px, 450px, '/assets/images/sprites.png', 'sd-btn_shortcut_event02', );
$sd-btn-styler-name: 'sd-btn_styler';
$sd-btn-styler-x: 0px;
$sd-btn-styler-y: 424px;
$sd-btn-styler-offset-x: 0px;
$sd-btn-styler-offset-y: -424px;
$sd-btn-styler-width: 178px;
$sd-btn-styler-height: 26px;
$sd-btn-styler-total-width: 703px;
$sd-btn-styler-total-height: 450px;
$sd-btn-styler-image: '/assets/images/sprites.png';
$sd-btn-styler: (0px, 424px, 0px, -424px, 178px, 26px, 703px, 450px, '/assets/images/sprites.png', 'sd-btn_styler', );
$sd-icon-selected01-name: 'sd-icon_selected01';
$sd-icon-selected01-x: 662px;
$sd-icon-selected01-y: 340px;
$sd-icon-selected01-offset-x: -662px;
$sd-icon-selected01-offset-y: -340px;
$sd-icon-selected01-width: 39px;
$sd-icon-selected01-height: 19px;
$sd-icon-selected01-total-width: 703px;
$sd-icon-selected01-total-height: 450px;
$sd-icon-selected01-image: '/assets/images/sprites.png';
$sd-icon-selected01: (662px, 340px, -662px, -340px, 39px, 19px, 703px, 450px, '/assets/images/sprites.png', 'sd-icon_selected01', );
$sd-radio-agreement01-name: 'sd-radio_agreement01';
$sd-radio-agreement01-x: 617px;
$sd-radio-agreement01-y: 192px;
$sd-radio-agreement01-offset-x: -617px;
$sd-radio-agreement01-offset-y: -192px;
$sd-radio-agreement01-width: 72px;
$sd-radio-agreement01-height: 24px;
$sd-radio-agreement01-total-width: 703px;
$sd-radio-agreement01-total-height: 450px;
$sd-radio-agreement01-image: '/assets/images/sprites.png';
$sd-radio-agreement01: (617px, 192px, -617px, -192px, 72px, 24px, 703px, 450px, '/assets/images/sprites.png', 'sd-radio_agreement01', );
$sd-radio-agreement01-selected-name: 'sd-radio_agreement01_selected';
$sd-radio-agreement01-selected-x: 184px;
$sd-radio-agreement01-selected-y: 424px;
$sd-radio-agreement01-selected-offset-x: -184px;
$sd-radio-agreement01-selected-offset-y: -424px;
$sd-radio-agreement01-selected-width: 72px;
$sd-radio-agreement01-selected-height: 24px;
$sd-radio-agreement01-selected-total-width: 703px;
$sd-radio-agreement01-selected-total-height: 450px;
$sd-radio-agreement01-selected-image: '/assets/images/sprites.png';
$sd-radio-agreement01-selected: (184px, 424px, -184px, -424px, 72px, 24px, 703px, 450px, '/assets/images/sprites.png', 'sd-radio_agreement01_selected', );
$sd-radio-agreement02-name: 'sd-radio_agreement02';
$sd-radio-agreement02-x: 598px;
$sd-radio-agreement02-y: 121px;
$sd-radio-agreement02-offset-x: -598px;
$sd-radio-agreement02-offset-y: -121px;
$sd-radio-agreement02-width: 86px;
$sd-radio-agreement02-height: 24px;
$sd-radio-agreement02-total-width: 703px;
$sd-radio-agreement02-total-height: 450px;
$sd-radio-agreement02-image: '/assets/images/sprites.png';
$sd-radio-agreement02: (598px, 121px, -598px, -121px, 86px, 24px, 703px, 450px, '/assets/images/sprites.png', 'sd-radio_agreement02', );
$sd-radio-agreement02-selected-name: 'sd-radio_agreement02_selected';
$sd-radio-agreement02-selected-x: 598px;
$sd-radio-agreement02-selected-y: 151px;
$sd-radio-agreement02-selected-offset-x: -598px;
$sd-radio-agreement02-selected-offset-y: -151px;
$sd-radio-agreement02-selected-width: 86px;
$sd-radio-agreement02-selected-height: 24px;
$sd-radio-agreement02-selected-total-width: 703px;
$sd-radio-agreement02-selected-total-height: 450px;
$sd-radio-agreement02-selected-image: '/assets/images/sprites.png';
$sd-radio-agreement02-selected: (598px, 151px, -598px, -151px, 86px, 24px, 703px, 450px, '/assets/images/sprites.png', 'sd-radio_agreement02_selected', );
$sd-title-application-name: 'sd-title_application';
$sd-title-application-x: 0px;
$sd-title-application-y: 396px;
$sd-title-application-offset-x: 0px;
$sd-title-application-offset-y: -396px;
$sd-title-application-width: 484px;
$sd-title-application-height: 22px;
$sd-title-application-total-width: 703px;
$sd-title-application-total-height: 450px;
$sd-title-application-image: '/assets/images/sprites.png';
$sd-title-application: (0px, 396px, 0px, -396px, 484px, 22px, 703px, 450px, '/assets/images/sprites.png', 'sd-title_application', );
$sd-txt-agreement01-name: 'sd-txt_agreement01';
$sd-txt-agreement01-x: 402px;
$sd-txt-agreement01-y: 0px;
$sd-txt-agreement01-offset-x: -402px;
$sd-txt-agreement01-offset-y: 0px;
$sd-txt-agreement01-width: 301px;
$sd-txt-agreement01-height: 44px;
$sd-txt-agreement01-total-width: 703px;
$sd-txt-agreement01-total-height: 450px;
$sd-txt-agreement01-image: '/assets/images/sprites.png';
$sd-txt-agreement01: (402px, 0px, -402px, 0px, 301px, 44px, 703px, 450px, '/assets/images/sprites.png', 'sd-txt_agreement01', );
$sd-txt-agreement02-name: 'sd-txt_agreement02';
$sd-txt-agreement02-x: 402px;
$sd-txt-agreement02-y: 192px;
$sd-txt-agreement02-offset-x: -402px;
$sd-txt-agreement02-offset-y: -192px;
$sd-txt-agreement02-width: 209px;
$sd-txt-agreement02-height: 44px;
$sd-txt-agreement02-total-width: 703px;
$sd-txt-agreement02-total-height: 450px;
$sd-txt-agreement02-image: '/assets/images/sprites.png';
$sd-txt-agreement02: (402px, 192px, -402px, -192px, 209px, 44px, 703px, 450px, '/assets/images/sprites.png', 'sd-txt_agreement02', );
$sd-txt-name-name: 'sd-txt_name';
$sd-txt-name-x: 664px;
$sd-txt-name-y: 50px;
$sd-txt-name-offset-x: -664px;
$sd-txt-name-offset-y: -50px;
$sd-txt-name-width: 27px;
$sd-txt-name-height: 36px;
$sd-txt-name-total-width: 703px;
$sd-txt-name-total-height: 450px;
$sd-txt-name-image: '/assets/images/sprites.png';
$sd-txt-name: (664px, 50px, -664px, -50px, 27px, 36px, 703px, 450px, '/assets/images/sprites.png', 'sd-txt_name', );
$sd-txt-phone-name: 'sd-txt_phone';
$sd-txt-phone-x: 332px;
$sd-txt-phone-y: 110px;
$sd-txt-phone-offset-x: -332px;
$sd-txt-phone-offset-y: -110px;
$sd-txt-phone-width: 40px;
$sd-txt-phone-height: 36px;
$sd-txt-phone-total-width: 703px;
$sd-txt-phone-total-height: 450px;
$sd-txt-phone-image: '/assets/images/sprites.png';
$sd-txt-phone: (332px, 110px, -332px, -110px, 40px, 36px, 703px, 450px, '/assets/images/sprites.png', 'sd-txt_phone', );
$spritesheet-width: 703px;
$spritesheet-height: 450px;
$spritesheet-image: '/assets/images/sprites.png';
$spritesheet-sprites: ($sd-btn-application, $sd-btn-caption, $sd-btn-caption-open, $sd-btn-close, $sd-btn-close02, $sd-btn-done, $sd-btn-event01, $sd-btn-event01-selected, $sd-btn-event02, $sd-btn-event02-selected, $sd-btn-lg, $sd-btn-naver, $sd-btn-product, $sd-btn-reply, $sd-btn-shortcut-event01, $sd-btn-shortcut-event02, $sd-btn-styler, $sd-icon-selected01, $sd-radio-agreement01, $sd-radio-agreement01-selected, $sd-radio-agreement02, $sd-radio-agreement02-selected, $sd-title-application, $sd-txt-agreement01, $sd-txt-agreement02, $sd-txt-name, $sd-txt-phone, );
$spritesheet: (703px, 450px, '/assets/images/sprites.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
