@charset "utf-8";

@import url(magnific-popup.css);

/**
 * variable
 */
$font-base-stack: sans-serif;
$contents-max-width: 768px;
$contents-min-width: 320px;

body { min-width: $contents-min-width; background-color: #fff; }

@import "base";
@import "sprites_mobile";



/**
 * z-index
**/
$z-layers: (
	'modal':            1000,
	'modaless':          900,
	'gnb':	             800,
	'dropdown':          500,
	'hover':             200,
	'tooltip':           100,
	'default':             1,
	'bottomless-pit': -10000
);

@function z($layer) {
	@if not map-has-key($z-layers, $layer) {
		@warn "No layer found for `#{$layer}` in $z-layers map. Property omitted.";
	}

	@return map-get($z-layers, $layer);
}


/**
 * mixin
 */
@mixin max-desktop {
	@media only screen and (min-width: #{$contents-min-width + 1px}) {
		@content;
	}
}


@mixin aspect-ratio($width, $height) {
	position: relative;
	&:before {
		display: block;
		content: "";
		width: 100%;
		padding-top: ($height / $width) * 100%;
	}
	> .inner {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}



/* page header */
.page-header { position: fixed; top: 0; right: 0; left: 0; z-index: z("gnb"); height: 113px; background-color: #fff;
	.page-header-inner { padding: 15px 15px 0 15px; }

	.btn-lg { display: block; float: left; text-indent: -9999px; @include retina-sprite($sm-btn-lg-group); }
	.btn-styler { display: block; float: right; text-indent: -9999px; @include retina-sprite($sm-btn-styler-group); }

	.menus { clear: both; padding-top: 15px; 
		ul { padding-top: 15px; text-align: center; border-top: 1px solid #000;
			li { display: inline-block; box-sizing: border-box; position: relative; margin: 0 -3px 0 0; width: 50%;
				a { display: inline-block; text-indent: -9999px;
					&.btn-event01 { @include retina-sprite($sm-btn-event01-group);
						&.is-selected { @include retina-sprite($sm-btn-event01-selected-group); }
					}
					&.btn-event02 { @include retina-sprite($sm-btn-event02-group);
						&.is-selected { @include retina-sprite($sm-btn-event02-selected-group); }
					}

					&.is-selected {
						&:before { content: ''; display: block; position: absolute; bottom: -28px; left: 50%; margin-left: -$sm-icon-selected01-width/2; @include retina-sprite($sm-icon-selected01-group); }
					}
				}

				+ li {
					&:before { content: ''; display: block; position: absolute; bottom: -3px; left: -1px; height: 20px; width: 1px; background-color: #c2c2c2; }
				}
			}
		}
	}
}



/* page footer */
.page-footer { background-color: #808080;
	.page-footer-inner { margin: 0 auto; padding-top: 12px; height: 48px;
		p { margin: 0 auto; height: 39px; width: 308px; text-indent: -9999px; background: url('/assets/images/mobile/bg_footer@2x.png') center top no-repeat; background-size: 100%;
			* { display: none; }
		}
	}
}



/**
 * import
 */
@import "m_event01";
