@charset "UTF-8";
@import url(magnific-popup.css);
/**
 * variable
 */
body {
  min-width: 1200px;
  background-color: #fff; }

/* Common Style */
* {
  margin: 0;
  padding: 0; }

/* set html5 elements to block */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, font, img, ins, q, s, samp, strike, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
  border: 0 none; }

body {
  position: relative;
  /*min-height: 800px;*/
  min-width: 1200px;
  margin: 0 auto;
  font-size: 100%;
  line-height: 1.3em;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
      text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

header, h1 {
  font-size: 100%; }

html, body {
  height: 100%; }

caption, legend {
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 0;
  height: 0;
  font-size: 0;
  overflow: hidden;
  visibility: hidden; }

caption {
  display: none; }

img {
  border: none;
  vertical-align: top;
  /*width: 100%;*/ }

select, input {
  vertical-align: top; }

hr {
  display: none;
  border: 0 none; }

ol, ul, ul li {
  list-style: none; }

em {
  font-style: normal; }

menu li {
  list-style: none; }

address {
  display: inline;
  font-style: normal; }

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  border: 0px;
  background-color: transparent; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, textarea, keygen, select, button {
  font-family: sans-serif; }

strong {
  font-weight: normal; }

dfn {
  font-style: normal; }

/* link Style */
a:link, a:visited, a:active, a:focus {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

.hidden {
  display: none !important; }

.visible-hidden {
  visibility: hidden !important; }

.clear {
  clear: both; }

.txt-center {
  text-align: center !important; }

/* forms */
fieldset {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

input[type=submit] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  border: 0px; }

::-webkit-input-placeholder {
  color: #4c4c4c; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #4c4c4c; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #4c4c4c; }

:-ms-input-placeholder {
  color: #4c4c4c; }

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
/**
 * z-index
**/
/**
 * mixin
 */
/* page header */
.page-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 800;
  min-width: 1200px;
  background-color: #fff; }
  .page-header .page-header-inner {
    position: relative;
    margin: 0 auto;
    height: 80px;
    width: 1200px; }
  .page-header .btn-lg {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -15px;
    text-indent: -9999px;
    background-image: url(/assets/images/sprites.png);
    background-position: -544px -340px;
    width: 112px;
    height: 30px; }
  .page-header .btn-styler {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -13px;
    text-indent: -9999px;
    background-image: url(/assets/images/sprites.png);
    background-position: 0px -424px;
    width: 178px;
    height: 26px; }
  .page-header .menus ul {
    text-align: center; }
    .page-header .menus ul li {
      display: inline-block;
      margin-top: 30px;
      padding: 0 30px; }
      .page-header .menus ul li a {
        display: inline-block;
        position: relative;
        text-indent: -9999px; }
        .page-header .menus ul li a.btn-event01 {
          background-image: url(/assets/images/sprites.png);
          background-position: -402px -268px;
          width: 300px;
          height: 20px; }
          .page-header .menus ul li a.btn-event01.is-selected {
            background-image: url(/assets/images/sprites.png);
            background-position: -402px -242px;
            width: 300px;
            height: 20px; }
        .page-header .menus ul li a.btn-event02 {
          background-image: url(/assets/images/sprites.png);
          background-position: -402px -294px;
          width: 294px;
          height: 17px; }
          .page-header .menus ul li a.btn-event02.is-selected {
            background-image: url(/assets/images/sprites.png);
            background-position: -402px -317px;
            width: 294px;
            height: 17px; }
        .page-header .menus ul li a.is-selected:before {
          content: '';
          display: block;
          position: absolute;
          bottom: -43px;
          left: 50%;
          margin-left: -19.5px;
          background-image: url(/assets/images/sprites.png);
          background-position: -662px -340px;
          width: 39px;
          height: 19px; }
      .page-header .menus ul li + li {
        border-left: 1px solid #c2c2c2; }

/* page footer */
.page-footer {
  background-color: #808080; }
  .page-footer .page-footer-inner {
    margin: 0 auto;
    padding-top: 28px;
    height: 62px;
    min-width: 1200px; }
    .page-footer .page-footer-inner p {
      margin: 0 auto;
      height: 37px;
      width: 693px;
      text-indent: -9999px;
      background: url("/assets/images/bg_footer.png") center top no-repeat; }
      .page-footer .page-footer-inner p * {
        display: none; }

/**
 * import
 */
/* CONTENTS */
article.event01 {
  padding-top: 80px; }
  article.event01 > .title {
    position: relative;
    z-index: 1;
    padding-top: 209px;
    min-width: 1200px;
    background: url("/assets/images/bg_video.jpg") center top no-repeat; }
    article.event01 > .title .title-inner {
      position: relative;
      margin: 0 auto;
      height: 491px;
      width: 1200px; }
    article.event01 > .title h1 {
      display: none; }
    article.event01 > .title .video-container {
      margin: 0 auto;
      height: 441px;
      width: 757px;
      border: 4px solid #fff; }
    article.event01 > .title .caption {
      display: none;
      overflow: scroll;
      margin: -2px auto;
      padding: 15px 20px;
      height: 83px;
      width: 722px;
      font-size: 13px;
      color: #333;
      line-height: 18px;
      border: 1px solid #fff;
      background-color: #e2e2e2; }
    article.event01 > .title .btn-caption {
      display: block;
      position: absolute;
      bottom: 15px;
      left: 219px;
      text-indent: -9999px;
      background-image: url(/assets/images/sprites.png);
      background-position: -262px -424px;
      width: 71px;
      height: 24px; }
      article.event01 > .title .btn-caption.open {
        bottom: -95px;
        background-image: url(/assets/images/sprites.png);
        background-position: -339px -424px;
        width: 71px;
        height: 24px; }
        article.event01 > .title .btn-caption.open + .caption {
          display: block; }
  article.event01 .event-detail {
    overflow: hidden;
    min-width: 1200px;
    background: url("/assets/images/bg_detail.jpg") center top no-repeat; }
    article.event01 .event-detail .event-detail-inner {
      position: relative;
      margin: 0 auto;
      height: 1138px;
      width: 1200px; }
    article.event01 .event-detail .event-detail-contents {
      display: block;
      margin: 0 auto;
      height: 1012px;
      width: 1090px;
      background: url("/assets/images/event01_contents.png") center 23px no-repeat; }
      article.event01 .event-detail .event-detail-contents * {
        display: none; }
    article.event01 .event-detail .btn-reply {
      display: block;
      position: absolute;
      top: 448px;
      left: 50%;
      margin-left: -198px;
      text-indent: -9999px;
      background-image: url(/assets/images/sprites.png);
      background-position: 0px 0px;
      width: 396px;
      height: 104px; }
    article.event01 .event-detail .btn-product {
      display: block;
      position: absolute;
      bottom: 145px;
      right: -100px;
      text-indent: -9999px;
      background-image: url(/assets/images/sprites.png);
      background-position: -402px -340px;
      width: 136px;
      height: 36px; }
    article.event01 .event-detail .banner {
      position: absolute;
      top: 180px;
      left: 50%;
      z-index: 799;
      margin-left: -670px; }
      article.event01 .event-detail .banner .btn-close {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        text-indent: -9999px;
        background-image: url(/assets/images/sprites.png);
        background-position: -352px -262px;
        width: 26px;
        height: 26px; }
      article.event01 .event-detail .banner .btns {
        display: block;
        text-indent: -9999px;
        background-image: url(/assets/images/sprites.png);
        background-position: -176px -220px;
        width: 170px;
        height: 170px; }
      article.event01 .event-detail .banner.fixed {
        position: fixed;
        top: 80px; }
  article.event01 .gift {
    height: 190px;
    background-color: #dddddd; }
    article.event01 .gift .gift-inner {
      position: relative;
      top: -25px;
      height: 215px;
      min-width: 1200px;
      background: url("/assets/images/bg_gift.png") center top no-repeat; }
      article.event01 .gift .gift-inner * {
        display: none; }
  article.event01 .notice {
    background-color: #f1f1f1; }
    article.event01 .notice .notice-inner {
      height: 370px;
      min-width: 1200px;
      background: url("/assets/images/bg_notice.png") center 52px no-repeat; }
      article.event01 .notice .notice-inner * {
        display: none; }

/* CONTENTS */
article.event02 {
  padding-top: 80px; }
  article.event02 .event02-detail > .title {
    position: relative;
    z-index: 1;
    padding-top: 48px;
    height: 813px;
    min-width: 1200px;
    background: url("/assets/images/bg_detail_02.jpg") center top no-repeat; }
    article.event02 .event02-detail > .title .title-inner {
      position: relative;
      margin: 0 auto;
      height: 253px;
      width: 897px;
      background: url("/assets/images/event02_contents.png") center top no-repeat; }
      article.event02 .event02-detail > .title .title-inner * {
        display: none; }
    article.event02 .event02-detail > .title h1 {
      display: none; }
    article.event02 .event02-detail > .title .btn-naver {
      display: block;
      margin: 420px auto 0 auto;
      text-indent: -9999px;
      background-image: url(/assets/images/sprites.png);
      background-position: 0px -110px;
      width: 326px;
      height: 104px; }
    article.event02 .event02-detail > .title .btn-product {
      display: block;
      position: absolute;
      bottom: 26px;
      left: 50%;
      margin-left: -660px;
      text-indent: -9999px;
      background-image: url(/assets/images/sprites.png);
      background-position: -402px -340px;
      width: 136px;
      height: 36px; }
  article.event02 .event02-detail .styler-feature {
    overflow: hidden;
    height: 639px;
    min-width: 1200px;
    background: url("/assets/images/bg_fetured.jpg") center top no-repeat; }
    article.event02 .event02-detail .styler-feature .styler-feature-inner {
      position: relative;
      margin: 0 auto;
      height: 577px;
      width: 1040px;
      background: url("/assets/images/event02_feature.png") center top no-repeat; }
      article.event02 .event02-detail .styler-feature .styler-feature-inner h2 {
        display: none; }
      article.event02 .event02-detail .styler-feature .styler-feature-inner .list-feature {
        overflow: hidden;
        padding-top: 104px;
        padding-left: 23px; }
        article.event02 .event02-detail .styler-feature .styler-feature-inner .list-feature > li {
          display: block;
          float: left;
          width: 304px; }
          article.event02 .event02-detail .styler-feature .styler-feature-inner .list-feature > li div {
            display: block;
            height: 430px; }
            article.event02 .event02-detail .styler-feature .styler-feature-inner .list-feature > li div * {
              display: none; }
          article.event02 .event02-detail .styler-feature .styler-feature-inner .list-feature > li + li {
            margin-left: 41px; }
    article.event02 .event02-detail .styler-feature .banner {
      position: absolute;
      top: 19px;
      left: 50%;
      z-index: 799;
      margin-left: -750px; }
      article.event02 .event02-detail .styler-feature .banner .btn-close {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        text-indent: -9999px;
        background-image: url(/assets/images/sprites.png);
        background-position: -352px -262px;
        width: 26px;
        height: 26px; }
      article.event02 .event02-detail .styler-feature .banner .btns {
        display: block;
        text-indent: -9999px;
        background-image: url(/assets/images/sprites.png);
        background-position: 0px -220px;
        width: 170px;
        height: 170px; }
      article.event02 .event02-detail .styler-feature .banner.fixed {
        position: fixed;
        top: 80px; }
  article.event02 .gift {
    height: 190px;
    background-color: #ddd; }
    article.event02 .gift .gift-inner {
      position: relative;
      top: -25px;
      height: 215px;
      min-width: 1200px;
      background: url("/assets/images/bg_gift_02.jpg") center top no-repeat; }
      article.event02 .gift .gift-inner * {
        display: none; }
  article.event02 .notice {
    background-color: #f1f1f1; }
    article.event02 .notice .notice-inner {
      height: 370px;
      min-width: 1200px;
      background: url("/assets/images/bg_notice_02.png") center 52px no-repeat; }
      article.event02 .notice .notice-inner * {
        display: none; }

.popup {
  margin: 0 auto;
  height: 764px;
  width: 1018px;
  background: url("/assets/images/bg_select_featured.png") center top no-repeat; }
  .popup .mfp-close {
    display: block;
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: 498px;
    text-indent: -9999px;
    background-image: url(/assets/images/sprites.png);
    background-position: -598px -50px;
    width: 60px;
    height: 60px; }
  .popup .contents {
    position: relative;
    height: 100%;
    width: 100%; }
    .popup .contents .btn-application {
      display: block;
      position: absolute;
      bottom: 51px;
      left: 50%;
      margin-left: -95px;
      text-indent: -9999px;
      background-image: url(/assets/images/sprites.png);
      background-position: -402px -121px;
      width: 190px;
      height: 65px; }
  .popup.select-feature .contents {
    overflow: hidden;
    box-sizing: border-box;
    padding: 106px 11px 0px 7px;
    text-align: center; }
  .popup.select-feature .title {
    display: none; }
  .popup.select-feature .radios {
    display: inline-block;
    height: 5000px;
    width: 310px;
    vertical-align: top; }
    .popup.select-feature .radios .iradio {
      display: block; }
      .popup.select-feature .radios .iradio + label {
        display: block;
        position: relative;
        height: 100%;
        width: 100%;
        cursor: pointer; }
        .popup.select-feature .radios .iradio + label:before {
          content: '';
          display: block;
          position: absolute;
          top: -23px;
          left: 50%;
          margin-left: -21px;
          text-indent: -9999px;
          background-image: url(/assets/images/sprites.png);
          background-position: -332px -161px;
          width: 42px;
          height: 45px; }
        .popup.select-feature .radios .iradio + label * {
          display: none; }
      .popup.select-feature .radios .iradio.checked + label:before {
        background-image: url(/assets/images/sprites.png);
        background-position: -332px -110px;
        width: 42px;
        height: 45px; }
  .popup.select-feature .feature01 {
    background: url("/assets/images/popup01.png") center top no-repeat; }
  .popup.select-feature .feature02 {
    background: url("/assets/images/popup02.png") center top no-repeat; }
  .popup.select-feature .feature03 {
    background: url("/assets/images/popup03.png") center top no-repeat; }

/* 응모팝업 */
.popup-application {
  position: relative;
  margin: 0 auto;
  padding: 0;
  height: 773px;
  width: 668px;
  background: url("/assets/images/bg_application.png") center top no-repeat;
  /* 기본 정보 */
  /* 동의 항목 */ }
  .popup-application > .title {
    display: block;
    margin: 0 11px 0 7px;
    padding: 35px 0 30px 0;
    border-bottom: 2px solid #de284f; }
    .popup-application > .title span {
      display: block;
      margin: 0 auto;
      text-indent: -9999px;
      background-image: url(/assets/images/sprites.png);
      background-position: 0px -396px;
      width: 484px;
      height: 22px; }
  .popup-application .container {
    padding: 0 61px 62px 57px; }
  .popup-application .basic-info {
    padding: 30px 0 30px 0;
    color: #bdc3c5;
    border-bottom: 1px dashed #b7b7b7; }
    .popup-application .basic-info label {
      display: inline-block;
      margin-right: 5px;
      text-indent: -9999px;
      vertical-align: middle; }
      .popup-application .basic-info label.txt-name {
        background-image: url(/assets/images/sprites.png);
        background-position: -664px -50px;
        width: 27px;
        height: 36px; }
      .popup-application .basic-info label.txt-phone {
        margin-left: 50px;
        background-image: url(/assets/images/sprites.png);
        background-position: -352px -220px;
        width: 40px;
        height: 36px; }
    .popup-application .basic-info input[type=text] {
      height: 34px;
      width: 73px;
      font-size: 14px;
      color: #333;
      line-height: 34px;
      vertical-align: middle;
      text-align: center;
      border: 1px solid #999;
      background-color: #f8f8f8; }
  .popup-application .agreements {
    margin-top: 18px; }
    .popup-application .agreements + .agreements {
      margin-top: 0px;
      padding-top: 30px; }
    .popup-application .agreements .txt-agreement01 {
      display: block;
      text-indent: -9999px;
      background-image: url(/assets/images/sprites.png);
      background-position: -402px 0px;
      width: 301px;
      height: 44px; }
    .popup-application .agreements .txt-agreement02 {
      display: block;
      text-indent: -9999px;
      background-image: url(/assets/images/sprites.png);
      background-position: -402px -192px;
      width: 209px;
      height: 44px; }
    .popup-application .agreements .list-agreement {
      margin-top: 5px;
      padding: 14px 0 14px 26px;
      background-color: #f0f0f0; }
      .popup-application .agreements .list-agreement > li {
        font-size: 12px;
        color: #666;
        line-height: 24px; }
        .popup-application .agreements .list-agreement > li em:before {
          content: '·';
          margin-right: 2px; }
    .popup-application .agreements .message {
      margin-top: 10px;
      font-size: 12px;
      color: #999; }
    .popup-application .agreements .radios {
      margin-top: 12px;
      text-align: right; }
    .popup-application .agreements .iradio {
      display: inline-block; }
      .popup-application .agreements .iradio + label {
        display: inline-block;
        margin: 0 15px;
        text-indent: -9999px;
        cursor: pointer;
        text-align: left; }
        .popup-application .agreements .iradio + label.agreement-yes {
          background-image: url(/assets/images/sprites.png);
          background-position: -184px -424px;
          width: 72px;
          height: 24px; }
        .popup-application .agreements .iradio + label.agreement-no {
          background-image: url(/assets/images/sprites.png);
          background-position: -598px -121px;
          width: 86px;
          height: 24px; }
      .popup-application .agreements .iradio.checked + .agreement-yes {
        background-image: url(/assets/images/sprites.png);
        background-position: -617px -192px;
        width: 72px;
        height: 24px; }
      .popup-application .agreements .iradio.checked + .agreement-no {
        background-image: url(/assets/images/sprites.png);
        background-position: -598px -151px;
        width: 86px;
        height: 24px; }
  .popup-application .btn-done {
    display: block;
    margin: 40px auto 0 auto;
    text-indent: -9999px;
    background-image: url(/assets/images/sprites.png);
    background-position: -402px -50px;
    width: 190px;
    height: 65px;
    background-color: transparent; }
  .popup-application .mfp-close {
    display: block;
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: 323px;
    text-indent: -9999px;
    background-image: url(/assets/images/sprites.png);
    background-position: -598px -50px;
    width: 60px;
    height: 60px; }
