@charset "UTF-8";
@import url(magnific-popup.css);
/**
 * variable
 */
body {
  min-width: 320px;
  background-color: #fff; }

/* Common Style */
* {
  margin: 0;
  padding: 0; }

/* set html5 elements to block */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, font, img, ins, q, s, samp, strike, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
  border: 0 none; }

body {
  position: relative;
  /*min-height: 800px;*/
  min-width: 320px;
  margin: 0 auto;
  font-size: 100%;
  line-height: 1.3em;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
      text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

header, h1 {
  font-size: 100%; }

html, body {
  height: 100%; }

caption, legend {
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 0;
  height: 0;
  font-size: 0;
  overflow: hidden;
  visibility: hidden; }

caption {
  display: none; }

img {
  border: none;
  vertical-align: top;
  /*width: 100%;*/ }

select, input {
  vertical-align: top; }

hr {
  display: none;
  border: 0 none; }

ol, ul, ul li {
  list-style: none; }

em {
  font-style: normal; }

menu li {
  list-style: none; }

address {
  display: inline;
  font-style: normal; }

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  border: 0px;
  background-color: transparent; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, textarea, keygen, select, button {
  font-family: sans-serif; }

strong {
  font-weight: normal; }

dfn {
  font-style: normal; }

/* link Style */
a:link, a:visited, a:active, a:focus {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

.hidden {
  display: none !important; }

.visible-hidden {
  visibility: hidden !important; }

.clear {
  clear: both; }

.txt-center {
  text-align: center !important; }

/* forms */
fieldset {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

input[type=submit] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  border: 0px; }

::-webkit-input-placeholder {
  color: #4c4c4c; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #4c4c4c; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #4c4c4c; }

:-ms-input-placeholder {
  color: #4c4c4c; }

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );

.icon-home {
  @include retina-sprite($icon-home-group);
}
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
/*
The `retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in SCSS

@include retina-sprites($retina-groups);
*/
/**
 * z-index
**/
/**
 * mixin
 */
/* page header */
.page-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 800;
  height: 113px;
  background-color: #fff; }
  .page-header .page-header-inner {
    padding: 15px 15px 0 15px; }
  .page-header .btn-lg {
    display: block;
    float: left;
    text-indent: -9999px;
    background-image: url(/assets/images/mobile/sprites_mobile.png);
    background-position: -387px -19px;
    width: 81px;
    height: 22px; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .page-header .btn-lg {
        background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
        background-size: 505px 234px; } }
  .page-header .btn-styler {
    display: block;
    float: right;
    text-indent: -9999px;
    background-image: url(/assets/images/mobile/sprites_mobile.png);
    background-position: -336px -116px;
    width: 138px;
    height: 20px; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .page-header .btn-styler {
        background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
        background-size: 505px 234px; } }
  .page-header .menus {
    clear: both;
    padding-top: 15px; }
    .page-header .menus ul {
      padding-top: 15px;
      text-align: center;
      border-top: 1px solid #000; }
      .page-header .menus ul li {
        display: inline-block;
        box-sizing: border-box;
        position: relative;
        margin: 0 -3px 0 0;
        width: 50%; }
        .page-header .menus ul li a {
          display: inline-block;
          text-indent: -9999px; }
          .page-header .menus ul li a.btn-event01 {
            background-image: url(/assets/images/mobile/sprites_mobile.png);
            background-position: -219px -19px;
            width: 162px;
            height: 27px; }
            @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
              .page-header .menus ul li a.btn-event01 {
                background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
                background-size: 505px 234px; } }
            .page-header .menus ul li a.btn-event01.is-selected {
              background-image: url(/assets/images/mobile/sprites_mobile.png);
              background-position: -219px -52px;
              width: 162px;
              height: 27px; }
              @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                .page-header .menus ul li a.btn-event01.is-selected {
                  background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
                  background-size: 505px 234px; } }
          .page-header .menus ul li a.btn-event02 {
            background-image: url(/assets/images/mobile/sprites_mobile.png);
            background-position: 0px -116px;
            width: 162px;
            height: 27px; }
            @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
              .page-header .menus ul li a.btn-event02 {
                background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
                background-size: 505px 234px; } }
            .page-header .menus ul li a.btn-event02.is-selected {
              background-image: url(/assets/images/mobile/sprites_mobile.png);
              background-position: -168px -116px;
              width: 162px;
              height: 27px; }
              @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                .page-header .menus ul li a.btn-event02.is-selected {
                  background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
                  background-size: 505px 234px; } }
          .page-header .menus ul li a.is-selected:before {
            content: '';
            display: block;
            position: absolute;
            bottom: -28px;
            left: 50%;
            margin-left: -15.5px;
            background-image: url(/assets/images/mobile/sprites_mobile.png);
            background-position: -474px -19px;
            width: 31px;
            height: 16px; }
            @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
              .page-header .menus ul li a.is-selected:before {
                background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
                background-size: 505px 234px; } }
        .page-header .menus ul li + li:before {
          content: '';
          display: block;
          position: absolute;
          bottom: -3px;
          left: -1px;
          height: 20px;
          width: 1px;
          background-color: #c2c2c2; }

/* page footer */
.page-footer {
  background-color: #808080; }
  .page-footer .page-footer-inner {
    margin: 0 auto;
    padding-top: 12px;
    height: 48px; }
    .page-footer .page-footer-inner p {
      margin: 0 auto;
      height: 39px;
      width: 308px;
      text-indent: -9999px;
      background: url("/assets/images/mobile/bg_footer@2x.png") center top no-repeat;
      background-size: 100%; }
      .page-footer .page-footer-inner p * {
        display: none; }

/**
 * import
 */
/* CONTENTS */
article.event01 {
  padding-top: 113px; }
  article.event01 > .title {
    padding-top: 112px;
    height: 163px;
    background: url("/assets/images/mobile/bg_video@2x.jpg") center top no-repeat;
    background-size: 375px 275px; }
    article.event01 > .title h1 {
      display: none; }
    article.event01 > .title .video-container {
      margin: 0 auto;
      height: 138px;
      width: 237px;
      border: 2px solid #fff; }
  article.event01 .event-detail {
    height: 894px;
    background: url("/assets/images/mobile/bg_detail@2x.jpg") center top no-repeat;
    background-size: 100%; }
    article.event01 .event-detail .event-detail-inner {
      position: relative;
      padding: 27px 0 0 0; }
      article.event01 .event-detail .event-detail-inner:before {
        content: '';
        display: block;
        position: absolute;
        top: 407px;
        right: 0px;
        height: 405px;
        width: 121px;
        background: url("/assets/images/mobile/bg_styler@2x.png") right top no-repeat;
        background-size: 100%; }
    article.event01 .event-detail .event-detail-contents {
      display: block;
      position: relative;
      height: 833px;
      width: 375px;
      background: url("/assets/images/mobile/event01_contents@2x.png") center top no-repeat;
      background-size: 100%; }
      article.event01 .event-detail .event-detail-contents * {
        display: none; }
    article.event01 .event-detail .btn-reply {
      display: block;
      position: absolute;
      top: 319px;
      left: 50%;
      margin-left: -106.5px;
      text-indent: -9999px;
      background-image: url(/assets/images/mobile/sprites_mobile.png);
      background-position: 0px 0px;
      width: 213px;
      height: 52px; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        article.event01 .event-detail .btn-reply {
          background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
          background-size: 505px 234px; } }
    article.event01 .event-detail .btn-product {
      display: block;
      position: absolute;
      top: 758px;
      right: 32px;
      text-indent: -9999px;
      background-image: url(/assets/images/mobile/sprites_mobile.png);
      background-position: -387px -52px;
      width: 78px;
      height: 18px; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        article.event01 .event-detail .btn-product {
          background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
          background-size: 505px 234px; } }
  article.event01 .gift {
    background-color: #ddd; }
    article.event01 .gift .gift-inner {
      height: 160px;
      width: 375px;
      background: url("/assets/images/mobile/bg_gift@2x.jpg") center bottom no-repeat;
      background-size: 100%; }
      article.event01 .gift .gift-inner * {
        display: none; }
  article.event01 .notice {
    padding: 21px 0 24px 0px;
    background-color: #f1f1f1; }
    article.event01 .notice .notice-inner {
      margin: 0 auto;
      height: 271px;
      width: 321px;
      min-width: 320px;
      background: url("/assets/images/mobile/bg_notice@2x.png") center top no-repeat;
      background-size: 100%; }
      article.event01 .notice .notice-inner * {
        display: none; }

/* CONTENTS */
article.event02 {
  padding-top: 113px; }
  article.event02 .event02-detail > .title {
    position: relative;
    height: 551px;
    width: 375px;
    background: url("/assets/images/mobile/event02_contents@2x.jpg") center top no-repeat;
    background-size: 100%; }
    article.event02 .event02-detail > .title .title-inner {
      display: none; }
  article.event02 .event02-detail .btn-naver {
    display: block;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -86.5px;
    text-indent: -9999px;
    background-image: url(/assets/images/mobile/sprites_mobile.png);
    background-position: 0px -58px;
    width: 173px;
    height: 52px; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      article.event02 .event02-detail .btn-naver {
        background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
        background-size: 505px 234px; } }
  article.event02 .event02-detail .styler-feature {
    position: relative;
    height: 418px;
    width: 375px;
    background: url("/assets/images/mobile/bg_feature@2x.jpg") center top no-repeat;
    background-size: 100%; }
    article.event02 .event02-detail .styler-feature .styler-feature-inner h2 {
      display: none; }
    article.event02 .event02-detail .styler-feature .styler-feature-inner .list-feature {
      padding: 50px 15px 0 110px; }
      article.event02 .event02-detail .styler-feature .styler-feature-inner .list-feature > li a {
        display: block;
        height: 111px;
        width: 100%; }
        article.event02 .event02-detail .styler-feature .styler-feature-inner .list-feature > li a * {
          display: none; }
      article.event02 .event02-detail .styler-feature .styler-feature-inner .list-feature > li + li {
        margin-top: 1px; }
    article.event02 .event02-detail .styler-feature .btn-product {
      display: block;
      position: absolute;
      bottom: 35px;
      left: 25px;
      text-indent: -9999px;
      background-image: url(/assets/images/mobile/sprites_mobile.png);
      background-position: -387px -52px;
      width: 78px;
      height: 18px; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        article.event02 .event02-detail .styler-feature .btn-product {
          background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
          background-size: 505px 234px; } }
  article.event02 .gift {
    background-color: #dbdbdb; }
    article.event02 .gift .gift-inner {
      height: 160px;
      width: 375px;
      background: url("/assets/images/mobile/bg_gift_02@2x.jpg") center bottom no-repeat;
      background-size: 100%; }
      article.event02 .gift .gift-inner * {
        display: none; }
  article.event02 .notice {
    padding: 21px 0 19px 0px;
    background-color: #f1f1f1; }
    article.event02 .notice .notice-inner {
      margin: 0 auto;
      height: 286px;
      width: 321px;
      min-width: 320px;
      background: url("/assets/images/mobile/bg_notice_02@2x.png") center top no-repeat;
      background-size: 100%; }
      article.event02 .notice .notice-inner * {
        display: none; }

.popup {
  margin: 0 auto;
  height: 492px;
  width: 334px; }
  .popup .mfp-close {
    display: block;
    position: absolute;
    top: -30px;
    left: 50%;
    margin-left: 140px;
    text-indent: -9999px;
    background-image: url(/assets/images/mobile/sprites_mobile.png);
    background-position: -179px -58px;
    width: 30px;
    height: 30px; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .popup .mfp-close {
        background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
        background-size: 505px 234px; } }
  .popup .contents {
    position: relative;
    height: 100%;
    width: 100%; }
    .popup .contents * {
      display: none; }
    .popup .contents .btn-application {
      display: block;
      position: absolute;
      bottom: 28px;
      left: 50%;
      margin-left: -47.5px;
      text-indent: -9999px;
      background-image: url(/assets/images/mobile/sprites_mobile.png);
      background-position: 0px -149px;
      width: 95px;
      height: 33px; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .popup .contents .btn-application {
          background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
          background-size: 505px 234px; } }
  .popup.feature01 .contents {
    background: url("/assets/images/mobile/popup01@2x.png") center top no-repeat;
    background-size: 100%; }
  .popup.feature02 .contents {
    background: url("/assets/images/mobile/popup02@2x.png") center top no-repeat;
    background-size: 100%; }
  .popup.feature03 .contents {
    background: url("/assets/images/mobile/popup03@2x.png") center top no-repeat;
    background-size: 100%; }

/* 응모팝업 */
.popup-application {
  position: relative;
  margin: 0 auto;
  padding: 0;
  height: 492px;
  width: 334px;
  background: url("/assets/images/mobile/bg_application@2x.png") center top no-repeat;
  background-size: 100%;
  /* 기본 정보 */
  /* 동의 항목 */ }
  .popup-application > .title {
    display: block;
    margin: 0 5px 0 3px;
    padding: 16px 0 15px 0;
    border-bottom: 1px solid #de284f; }
    .popup-application > .title span {
      display: block;
      margin: 0 auto;
      text-indent: -9999px;
      background-image: url(/assets/images/mobile/sprites_mobile.png);
      background-position: -219px 0px;
      width: 286px;
      height: 13px; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .popup-application > .title span {
          background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
          background-size: 505px 234px; } }
  .popup-application .container {
    padding: 0 30px 31px 29px; }
  .popup-application .basic-info {
    padding: 3px 0 19px 0;
    color: #bdc3c5;
    border-bottom: 1px dashed #b7b7b7; }
    .popup-application .basic-info p {
      padding: 15px 0 0 0; }
    .popup-application .basic-info label {
      display: inline-block;
      margin-right: 5px;
      text-indent: -9999px;
      vertical-align: middle; }
      .popup-application .basic-info label.txt-name {
        margin-right: 12px;
        background-image: url(/assets/images/mobile/sprites_mobile.png);
        background-position: -33px -211px;
        width: 19px;
        height: 23px; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          .popup-application .basic-info label.txt-name {
            background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
            background-size: 505px 234px; } }
      .popup-application .basic-info label.txt-phone {
        background-image: url(/assets/images/mobile/sprites_mobile.png);
        background-position: 0px -211px;
        width: 27px;
        height: 23px; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          .popup-application .basic-info label.txt-phone {
            background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
            background-size: 505px 234px; } }
    .popup-application .basic-info input[type=text] {
      height: 22px;
      width: 51px;
      font-size: 10px;
      color: #333;
      line-height: 22px;
      vertical-align: middle;
      text-align: center;
      border: 1px solid #999;
      background-color: #f8f8f8; }
  .popup-application .agreements {
    margin-top: 14px; }
    .popup-application .agreements + .agreements {
      margin-top: 0px;
      padding-top: 10px; }
    .popup-application .agreements .txt-agreement01 {
      display: block;
      text-indent: -9999px;
      background-image: url(/assets/images/mobile/sprites_mobile.png);
      background-position: -219px -85px;
      width: 179px;
      height: 22px; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .popup-application .agreements .txt-agreement01 {
          background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
          background-size: 505px 234px; } }
    .popup-application .agreements .txt-agreement02 {
      display: block;
      text-indent: -9999px;
      background-image: url(/assets/images/mobile/sprites_mobile.png);
      background-position: -202px -149px;
      width: 123px;
      height: 22px; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .popup-application .agreements .txt-agreement02 {
          background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
          background-size: 505px 234px; } }
    .popup-application .agreements .list-agreement {
      margin-top: 2px;
      padding: 7px 0 7px 13px;
      background-color: #f0f0f0; }
      .popup-application .agreements .list-agreement > li {
        font-size: 9px;
        color: #666;
        line-height: 15px; }
        .popup-application .agreements .list-agreement > li em:before {
          content: '·';
          margin-right: 2px; }
    .popup-application .agreements .message {
      margin-top: 5px;
      font-size: 8px;
      color: #999;
      line-height: 13px; }
    .popup-application .agreements .radios {
      margin-top: 12px;
      text-align: right; }
    .popup-application .agreements .iradio {
      display: inline-block; }
      .popup-application .agreements .iradio + label {
        display: inline-block;
        margin-left: 22px;
        text-indent: -9999px;
        cursor: pointer;
        text-align: left; }
        .popup-application .agreements .iradio + label.agreement-yes {
          background-image: url(/assets/images/mobile/sprites_mobile.png);
          background-position: -398px -149px;
          width: 52px;
          height: 17px; }
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            .popup-application .agreements .iradio + label.agreement-yes {
              background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
              background-size: 505px 234px; } }
        .popup-application .agreements .iradio + label.agreement-no {
          background-image: url(/assets/images/mobile/sprites_mobile.png);
          background-position: -331px -149px;
          width: 61px;
          height: 17px; }
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            .popup-application .agreements .iradio + label.agreement-no {
              background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
              background-size: 505px 234px; } }
      .popup-application .agreements .iradio.checked + .agreement-yes {
        background-image: url(/assets/images/mobile/sprites_mobile.png);
        background-position: 0px -188px;
        width: 52px;
        height: 17px; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          .popup-application .agreements .iradio.checked + .agreement-yes {
            background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
            background-size: 505px 234px; } }
      .popup-application .agreements .iradio.checked + .agreement-no {
        background-image: url(/assets/images/mobile/sprites_mobile.png);
        background-position: -404px -85px;
        width: 61px;
        height: 17px; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          .popup-application .agreements .iradio.checked + .agreement-no {
            background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
            background-size: 505px 234px; } }
  .popup-application .btn-done {
    display: block;
    margin: 20px auto 0 auto;
    text-indent: -9999px;
    background-image: url(/assets/images/mobile/sprites_mobile.png);
    background-position: -101px -149px;
    width: 95px;
    height: 33px;
    background-color: transparent; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .popup-application .btn-done {
        background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
        background-size: 505px 234px; } }
  .popup-application .mfp-close {
    display: block;
    position: absolute;
    top: -30px;
    left: 50%;
    margin-left: 140px;
    text-indent: -9999px;
    background-image: url(/assets/images/mobile/sprites_mobile.png);
    background-position: -179px -58px;
    width: 30px;
    height: 30px; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .popup-application .mfp-close {
        background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
        background-size: 505px 234px; } }
